<div style="margin-bottom:30px">
    <div class="d-flex justify-content-between">
        <div class="std-heading-4 text-capitalize">
            {{modifier.name}} <br>
            <span class="small-content" *ngIf="modifier.minSelection > 0; else optionalChoice">
                Choose {{modifier.minSelection}} to {{modifier.maxSelection}} <span class="small-content" *ngIf="modifier.freeSelection > 0;">( {{modifier.freeSelection}} free )</span>
            </span>
        </div>
        <div *ngIf="modifier.minSelection > 0; else optional">
            <modifier-selection-status [status]="{valid: optionControls.valid, touched: optionControls.touched}"></modifier-selection-status>
        </div>
    </div>
    <table style=" box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);width:100%;"
                *ngFor="let option of modifier.options; let i = index">
                <tr>
                    <td>
                        <div class="form-check" style="padding:0;">
                            <label class="form-check-label lable-text">
                                <input type="checkbox" class="form-check-input" [id]="modifier.name+i"
                                    [formControl]="optionControls.at(i)" (change)="handleChange()">
                                <span [for]="modifier.name+i" class="text-capitalize"> {{option.name}} </span>
                            </label>
                        </div>
                    </td>
                    <td align="right">
                        <span class="small-content small-content__price">
                            +${{option.price}}
                        </span>
                    </td>
                </tr>
                </table>
        </div>

        <ng-template #optional>
            <div>
                <span class="required" style="background: #fafafa"> Optional </span>
            </div>
        </ng-template>

        <ng-template #optionalChoice>
            <span class="small-content"> Choose 1 to {{modifier.maxSelection}} </span>
        </ng-template>
        <!-- <button (click)="optionControls.markAllAsTouched()">mark as touched</button> -->
        <!-- <button (click)="this.setupAccessor()">show control</button> -->
        <!-- <input type="text" [formControl]="testControl">
<div>{{testControl.value | json}}</div> -->