<div style="margin-bottom:30px">
    <div class="d-flex justify-content-between" style="padding: 2px 0;">
        <div class="text-capitalize">
            <p class="std-heading-4" style="margin-bottom: 4px;">{{modifier.name}} </p>
            <label class="small-content" *ngIf="modifier.minSelection > 0; else optionalChoice">
                <label [ngClass]="(this.optionControls.touched && this.optionControls.invalid) ? 'errorText' : '' ">
                    Choose {{modifier.minSelection}} <ng-container
                        *ngIf="modifier.minSelection !== modifier.maxSelection">to {{modifier.maxSelection}}
                    </ng-container>
                    <label *ngIf="modifier.freeSelection > 0;">
                        ( {{modifier.freeSelection}} free )
                    </label>
                </label>
            </label>
        </div>
        <div *ngIf="modifier.minSelection > 0; else optional">
            <modifier-selection-status [status]="{valid: optionControls.valid, touched: optionControls.touched}">
            </modifier-selection-status>
        </div>
    </div>
    <div appExpandable #e="appExpadable" style="transition: max-height .25s;" [collapsedSize]="560">
        <table style=" box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);width:100%;"
            *ngFor="let option of modifier.options; let i = index">
            <tr>
                <td>
                    <div class="form-check" style="padding:0;">
                        <label class="form-check-label lable-text">
                            <input type="checkbox" class="form-check-input" [id]="modifier.name+i"
                                [formControl]="optionControls.at(i)" (change)="handleChange()">
                            <span [for]="modifier.name+i" class="text-capitalize"> {{option.name}} </span>
                        </label>
                    </div>
                </td>
                <td align="right">
                    <span class="small-content small-content__price">
                        +${{option.price}}
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <button *ngIf="modifier.options.length > 10" (click)="e.toggle()">{{e.isExpanded ? 'Hide' : 'Show'}}
        {{modifier.options.length - 10}} <span *ngIf="!e.isExpanded">more</span></button>
</div>

<ng-template #optional>
    <div>
        <span class="required" style="background: #fafafa"> Optional </span>
    </div>
</ng-template>

<ng-template #optionalChoice>
    <span class="small-content"> Choose upto {{modifier.maxSelection}} </span>
</ng-template>
<!-- <button (click)="optionControls.markAllAsTouched()">mark as touched</button> -->
<!-- <button (click)="this.setupAccessor()">show control</button> -->
<!-- <input type="text" [formControl]="testControl">
<div>{{testControl.value | json}}</div> -->