<div *ngIf="openTimings; else closed">
    <span class="timT">
        <ng-container *ngIf="fullDay; else opTime">
            Opens 24HRS
        </ng-container>
        <ng-template #opTime>
            Open {{formatTime(openTimings.startTime)}}-{{formatTime(openTimings.endTime)}}
        </ng-template>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="8" cy="8" r="6" fill="#36A900"/>
        </svg>
    </span>
</div>
<ng-template #closed>
    <span class="timT">
        <next-availability [availability]="_availability"></next-availability>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="8" cy="8" r="6" fill="#FF0000"/>
        </svg>
    </span>
</ng-template>