<span class="sub-name float-right" *ngIf="openTimings; else closed">
    <table>
        <tr>
            <td style="padding-top:1px;padding-right: 4px;">
                <ng-container *ngIf="fullDay; else opTime">
                    Open 24HRS
                </ng-container>
                <ng-template #opTime>
                    Open {{formatTime(openTimings.startTime)}}-{{formatTime(openTimings.endTime)}}
                </ng-template>
            </td>
            <td>
                <img src="assets/images/ico_circle_filled_small.png" >
            </td>
        </tr>
    </table>
</span>
<ng-template #closed>
    <span class="sub-name float-right">
        <table>
            <tr>
                <td style="padding-top:1px;padding-right:4px;">
                    <next-availability [availability]="_availability"></next-availability>
                </td>
                <td>
                    <img src="assets/images/ico_status_overdue.png" width="16px" height="16px">
                </td>
            </tr>
        </table>
    </span>
</ng-template>