.hour-content {
    padding-right: 4px;
    margin: 0;
}
.timT {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    > svg {
        margin-left: 6px;
    }
}
svg {
    vertical-align: top;
}