<span class="sub-name float-right" *ngIf="openTimings; else closed">
    <table>
        <tr>
            <td style="padding-top:1px;padding-right: 6px;">
                Open {{openTimings.startTime}}-{{openTimings.endTime}}
            </td>
            <td>
                <img src="assets/images/ico_circle_filled_small.png" width="12px" height="12px">
            </td>
        </tr>
    </table>
</span>
<ng-template #closed>
    <span class="sub-name float-right">
        <table>
            <tr>
                <td style="padding-top:1px;padding-right: 6px;">
                    <next-availability [availability]="_availability"></next-availability>
                </td>
                <td>
                    <img src="assets/images/ico_status_overdue.png" width="12px" height="12px">
                </td>
            </tr>
        </table>
    </span>
</ng-template>