<nav class="navbar-simple">
    <img src="assets/svg/Logo_w.svg" routerLink="/" style="text-decoration: none;cursor: pointer;outline:none">
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12" *ngIf="backendErrorMessage">{{backendErrorMessage | json}}</div>
        <div class="col-md-12">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="signin-card">
                    <h3 class="std-heading-3 text-center"> menuzapp login </h3><br>
                    <div class="form-group form-group--margin">
                        <input formControlName="email" type="text" class="form-input error-highlight" placeholder="Email">
                        <ng-container *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
                            <div class="error-mez" >{{returnErrors('email')}}</div>
                        </ng-container>
                    </div>
                    <app-password>
                        <div class="form-group form-group--margin">
                            <input formControlName="password" passwordInput type="password" class="form-input error-highlight"
                                placeholder="Password">
                            <ng-container *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched" >
                                <div class="error-mez" >{{returnErrors('password')}}.</div>
                            </ng-container>
                        </div>
                    </app-password>
                    <div class="form-group" style="margin-top:10px;">
                        <button [disabled]="loggingIn" type="submit" class="std-button std-button--blue"><span
                                *ngIf="!loggingIn; else inProgressTemp">Sign in</span> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<p class="text-center"><a routerLink="/forgot-password" style="color:#353FA8;text-decoration: none;font-weight:bold"> Forgot password </a></p>
<ng-template #inProgressTemp>
    <span>Signing in...</span>

</ng-template>