<div class="margins-center">
    <!-- first sinup page -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h3 class="std-heading-4 text-center"> Welcome back </h3>
        <div class="error-mez" *ngIf="backendErrorMessage" id="hideMe">{{ backendErrorMessage }}</div>
        <ng-template #email>
            <div class="form-group form-group--margin" style="margin-top:24px">
                <div class="float-left label-inputs"> Email </div>
                <div class="float-right ch-me" (click)="toggleType()">
                    Log in with mobile
                </div>
                <input formControlName="email" type="text" class="form-input error-highlight" placeholder="Email">
                <ng-container *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
                    <div class="error-mez">{{returnErrors('email')}}</div>
                </ng-container>
            </div>
        </ng-template>

        <ng-container *ngIf="activeType === 'mobile'; else email">
            <div class="form-group form-group--margin" style="margin-top:24px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="float-left label-inputs"> Mobile </div>
                        <div class="float-right ch-me" (click)="toggleType()">
                            Log in with email
                        </div>
                    </div>
                </div>
                <!-- <input formControlName="mobile" type="number" class="form-input error-highlight"
                    placeholder="Mobile Number" minlength="10" maxlength="10"> -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- <ngx-intl-tel-input #phone
                            [cssClass]="loginForm.controls.mobile.errors ? 'form-input error-highlight ng-invalid' : 'form-input error-highlight'"
                            [enablePlaceholder]="true" [onlyCountries]="['in']" [preferredCountries]="['au']"
                            [enableAutoCountrySelect]="true" [separateDialCode]="true" formControlName="mobile"
                            [phoneValidation]="true"></ngx-intl-tel-input> -->
                        <tel-input formControlName="mobile"></tel-input>
                    </div>
                </div>
                <ng-container *ngIf="loginForm.controls.mobile.invalid && loginForm.controls.mobile.touched">
                    <div class="error-mez">{{returnErrors('mobile')}}</div>
                </ng-container>
            </div>
        </ng-container>


        <div class="form-group" style="margin-bottom: 24px;">
            <div class="label-inputs"> Password </div>
            <app-password>
                <input formControlName="password" passwordInput type="password"
                    class="form-input error-highlight custom-padd" placeholder="Password">
            </app-password>
            <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
                <div class="error-mez">{{returnErrors('password')}}.</div>
            </div>
        </div>
        <div style="margin-bottom:26px" >
            <button [disabled]="loggingIn" type="submit" class="std-button std-button--blue"><p style="margin:0"
                    *ngIf="!loggingIn; else inProgressTemp">Log in</p> </button>
        </div>
    </form>
    <div class="text-center blue-line-text" style="margin-bottom:34px" routerLink="/auth/forgot-password">
            Forgot password
    </div>
    <img src="assets/images/divider_or.png" style="margin-bottom: 16px;width:100%">

    <social-auth (signedIn)="afterSignin()"></social-auth>


    <div class="paragraph14 text-center" style="margin-bottom: 24px;">
        Don't have an account?<b style="color:#353FA8;cursor: pointer;outline: 0;" routerLink="/auth/signup"> Sign up
        </b>
    </div>

    <!-- first signup page end -->

    <!-- second signup page -->

    <!-- end second signup page -->


    <!-- profile page -->

    <!-- profile page end -->

</div>
<ng-template #inProgressTemp>
    <span>Signing in...</span>

</ng-template>