<div class="nav-login" >
    <div class="container">
        <span class="profile-save-text only-small" routerLink="/" *ngIf="!isforgot">
            <img src="assets/images/ico_arrow_left_white.png">
        </span>
        <span *ngIf="isforgot" routerLink="/" class="profile-save-text"> <img src="assets/images/ico_arrow_left_white.png" style="padding-right:16px;"> Forgot password </span>
        <div class="center-logo-profile" routerLink="/" *ngIf="!isforgot">
            <img src="assets/svg/logo_white.svg">
        </div>
    </div>
</div>
<router-outlet></router-outlet>