.menu {
  margin: 0;
  display: flex;
  flex-direction: row;
}
.cu-out {
  cursor: pointer;
  outline:none;
}
.pr-12 {
  margin-right:12px;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--color-background);
    width: 100%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
    padding: 8px 0 8px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu .auto-width {
    margin: 0 auto;
  }
  .img-display-desktop {
    display: none;
  }
  .img-display-mobile {
    display: block;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--color-background);
    width: 100%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
    padding: 8px 0 8px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu .auto-width {
    margin: 0 auto;
  }
  .img-display-desktop {
    display: none;
  }
  .img-display-mobile {
    display: block;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--color-background);
    width: 100%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
    padding: 8px 0 8px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu .auto-width {
    margin: 0 auto;
  }
  .img-display-desktop {
    display: none;
  }
  .img-display-mobile {
    display: block;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img-display-mobile {
    display: none;
  }
  .img-display-desktop {
    display: block;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .img-display-mobile {
    display: none;
  }
  .img-display-desktop {
    display: block;
  }
}
