<ul class="menu">
    <li class="auto-width" *ngIf="!isLoggedin"></li>
    <li class="auto-width cu-out" routerLink="/"> 
        <div class="home-icon img-display-desktop"></div>
        <div class="home-icon-mobile img-display-mobile"></div>
    </li>
    <ng-template #block>
        <li class="auto-width cu-out pr-12" routerLink="/auth/signup" >  
            <div class="user-icon img-display-desktop"></div>
            <div class="user-icon-mobile img-display-mobile"></div>
        </li>
        <li class="auto-width"></li>
    </ng-template>
    <ng-container *ngIf="isLoggedin; else block">
        <li class="auto-width cu-out" routerLink="/favourites">
            <div class="fav-icon img-display-desktop"></div>
            <div class="fav-icon-mobile img-display-mobile"></div>
        </li>
        <li class="auto-width cu-out" routerLink="/" > 
            <div class="bell-icon img-display-desktop"></div>
            <div class="bell-icon-mobile img-display-mobile"></div>
        </li>
        <li class="auto-width cu-out">
            <signed-in-options></signed-in-options>
        </li>
    </ng-container>
</ul>
