<!-- <div [style.color]="getColor()">Required</div> -->

    <div class="d-flex justify-content-between" style="margin-bottom:20px;">
        <div class="std-heading-4">
            {{modifier.name}} <br>
            <span class="small-content"> 
                Choose 1
            </span>
        </div>
        <div>
            <span class="required" [ngStyle]="{background: optionControl.invalid ? '#FFBF42' : '#E2FFBC'}" ><img [src]="optionControl.invalid ? '' : 'assets/images/ico_check_small.png'"> Required </span>
            <!-- <modifier-selection-status [status]="{valid: optionControl.valid, touched: optionControl.touched}"></modifier-selection-status> -->
        </div>
    </div>
    <table style="box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);width:100%;" *ngFor="let option of modifier.options; let i = index">
        <tr>
            <td> 
                <div class="form-radio">
                    <label class="form-check-label lable-text">
                        <input type="radio" [name]="modifier.name" [id]="modifier.name+i" [formControl]="optionControl"
                        [value]="option.id" (change)="handleChange()">  
                        <span [name]="modifier.name+i"> &nbsp;{{option.name}} </span>
                    </label>
                </div>
            </td>
        </tr>
    </table><br>
        <!-- <div style="box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);width:100%;" *ngFor="let option of modifier.options; let i = index">
            <label class="radio">
                <input type="radio" [name]="modifier.name" [id]="modifier.name+i" [formControl]="optionControl"
                [value]="option.id" (change)="handleChange()">
                <span [name]="modifier.name+i"> {{option.name}} </span>
            </label>
        </div>
     -->

