<div class="cart-card">
    <div class="cart-button" *ngIf="cartData$ | async; let data">
        <div class="d-flex justify-content-between">
            <div>
                <img src="assets/images/cart/cart.svg" />
                <span class="cart-text cart-count">
                    1
                </span>
            </div>
            <div class="cart-text">
                checkout
            </div>
            <div class="cart-text">
                $13.00
            </div>
        </div>
    </div>
</div>
