<div class="custom-location-body">
    <location-search (searchedLocation)="handleLocation($event, true)"></location-search>
    <div style="padding:8px;">
        <user-current-location (currentLocation)="handleLocation($event)"></user-current-location>
    </div>
    <div class="row" *ngIf="locationHistory && locationHistory.length">
        <div class="col-md-12">
            <div class="placeholder-header">
                Recent locations
            </div>
            <div *ngFor="let loc of locationHistory" style="padding:0 0 0 16px;cursor: pointer;">
                <table (click)="handleLocation(loc)">
                    <tr>
                        <td valign="middle" style="padding-right: 16px;">
                            <img src="assets/svg/ico_history_tab.svg">
                        </td>
                        <td style="box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);width:100%;padding: 5px 0px;">
                            <div class="paragraph"> {{loc.address.locality}} </div>
                            <div style="color: #808080;font-size: 14px;line-height: 20px;"> {{loc.address.fullAddress}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>