.custom-location-body {
    padding: 0 20px 0 10px;
    background: #fff;
    width: 100%;
    max-width: 360px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top:16px;
    // margin-left:-18px;
}
.placeholder-header {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #808080;
    padding: 10px;
}