li {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  outline: 0;
  border: 0;
  &:not(:last-of-type) > div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  & img {
    padding-right: 16px;
    margin-bottom: 12px;
  }
  &:focus {
    background-color: #fafafa;
  }
}

.list-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #808080;
  margin-top: 12px;
}

.custom-location-body {
  background: var(--color-background);
  width: 320px;
  border-radius: 8px;
  max-height: 100%;
  overflow-y: auto;
  & > *:not(ul),
  & > ul > li {
    padding: 12px 0px 0px 16px;
    & > div {
      padding: 0px 12px 12px 0px;
    }
  }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .custom-location-body {
    position: fixed;
    top: 118px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    border-radius: 0px;
    height: calc(100vh - 118px - 56px);
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .custom-location-body {
    position: fixed;
    top: 118px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    border-radius: 0px;
    height: calc(100vh - 118px - 56px);
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-location-body {
    position: fixed;
    top: 118px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    border-radius: 0px;
    height: calc(100vh - 118px - 56px);
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .custom-location-body {
    position: relative;
    top: 5px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
  }
  .cover-bg {
    margin-bottom: 16px;
  }
  .mobile-pad {
    padding-top: 24px;
  }
  .newClasscontainer {
    padding-left: 16px !important;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cover-bg {
    margin-bottom: 16px;
  }
  .mobile-pad {
    padding-top: 24px;
  }
  .newClasscontainer {
    padding-left: 16px !important;
  }
  .custom-location-body {
    position: relative;
    top: 5px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 991.98px) {
  :host > div:first-of-type {
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0px;
    width: 100%;
    outline: none;
    cursor: pointer;
    margin-top: 48px;
    padding: 16px 8px;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .above-bg {
    width: 100%;
    color: var(--color-background);
  }
  .store-search-home-input {
    border-radius: 24px;
    padding: 8px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: var(--color-boldlevelcolor);
    background: var(--color-background-tertiary);
  }
  .input-transparent {
    background: transparent;
    color: var(--color-boldlevelcolor);
    padding-left: 30px !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px !important;
  }
  .input-image {
    position: absolute;
    top: 4px;
    left: 4px;
  }
  .input-transparent::placeholder {
    color: var(--color-typography-tertiary);
  }
  .input-transparent:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-typography-tertiary);
  }
  .input-transparent::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--color-typography-tertiary);
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .above-bg {
    width: 100%;
    color: var(--color-background);
  }
  .store-search-home-input {
    border-radius: 24px;
    padding: 8px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: var(--color-boldlevelcolor);
    background: var(--color-background-tertiary);
  }
  .input-transparent {
    background: transparent;
    color: var(--color-boldlevelcolor);
    padding-left: 30px !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px !important;
  }
  .input-image {
    position: absolute;
    top: 4px;
    left: 4px;
  }
  .input-transparent::placeholder {
    color: var(--color-typography-tertiary);
  }
  .input-transparent:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-typography-tertiary);
  }
  .input-transparent::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--color-typography-tertiary);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .above-bg {
    width: 100%;
    color: var(--color-background);
  }
  .store-search-home-input {
    border-radius: 24px;
    padding: 8px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: var(--color-boldlevelcolor);
    background: var(--color-background-tertiary);
  }
  .input-transparent {
    background: transparent;
    color: var(--color-boldlevelcolor);
    padding-left: 30px !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px !important;
  }
  .input-image {
    position: absolute;
    top: 4px;
    left: 4px;
  }
  .input-transparent::placeholder {
    color: var(--color-typography-tertiary);
  }
  .input-transparent:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-typography-tertiary);
  }
  .input-transparent::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--color-typography-tertiary);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .input-transparent {
    background: transparent;
    color: var(--color-background);
  }
  .input-transparent::placeholder {
    color: var(--color-background);
    opacity: 0.5;
  }
  .input-transparent:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-background);
  }

  .input-transparent::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--color-background);
  }
  .store-search-home-input {
    background: var(--color-inside-bg);
    border-radius: 24px;
    padding: 8px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: var(--color-background);
  }
  .input-image {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .input-transparent {
    background: transparent;
    color: var(--color-background);
  }
  .input-transparent::placeholder {
    color: var(--color-background);
    opacity: 0.5;
  }
  .input-transparent:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-background);
  }

  .input-transparent::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--color-background);
  }
  .store-search-home-input {
    background: var(--color-inside-bg);
    border-radius: 24px;
    padding: 8px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: var(--color-background);
  }
  .input-image {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}

.input-transparent {
  width: 100%;
  padding-right: 30px;
}
.store-search-home-input {
  position: relative;
}
// .input-image {
//     position: absolute;
//     right: 10px;
//     width: 24px;
//     height: 24px;
//     top: 8px;
// }

.mobile-banner {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  right: 0;
  background: var(--color-primary);

  &__ico {
    border: none;
    background-color: transparent;
  }
}

// input[type="search"]::-webkit-search-cancel-button {
//     display: none;
// }
.se-inline {
  padding-right: 16px;
  cursor: pointer;
  outline: 0;
  border:0;
}
// .cls {
//   margin:0;
//   line-height: 20px;
// }
