<!-- <input (focus)="handleFocus()" (blur)="handleBlur()" style="border: none;" type="text" placeholder="Search"> -->
<div class="root">
  <div class="above-bg" #searchContainer>
    <div class="store-search-home-input">
      <input #searchInput class="input-transparent" style="border: none;outline: 0;" [formControl]="searchControl" [placeholder]="isMobile ? 'What would you like to eat?' : 'Search'"
        (focus)="openSearchBox();" (click)="openSearchBox();" (change)="openSearchBox();" (keyup)="searchInputKeyup($event);" (search)="searchInputKeyup($event)">
      <img *ngIf="isMobile" (click)="clearSearchInput();" [src]="'assets/svg/ico_close.svg'">
      <span *ngIf="isMobile">
        <img class="input-image" [src]="(loading$ | async)? 'assets/images/navbar/loader32_blue.gif' : 'assets/svg/signup/ico_search_m.svg'">
      </span>
      <span *ngIf="!isMobile">
        <img class="input-image" [src]="(loading$ | async)? 'assets/images/navbar/loader32.gif' : 'assets/svg/signup/ico_search.svg'">
      </span>
    </div>
  </div>
</div>

<ng-template #panelTemplate>
  <div class="custom-location-body">
    <ng-container *ngIf="searchInput.value">
      <ng-container *ngIf="searchResults$ | async as searchResults">
        <div class="list-title pder">New search</div>
        <ul style="list-style-type: none;cursor: pointer; margin-bottom: 0;">
          <li #listItem (click)="searchForItem(searchInput.value)" routerLink="/search" [queryParams]="{q:searchInput.value}" tabindex="1" (keyup)="searchListKeyup($event, searchInput.value, 0);">
            <img src="assets/svg/ico_search_tabs.svg">
            <div class="text-capitalize">Results for "{{searchInput.value}}" </div>
          </li>
          <li #listItem *ngFor="let storeItem of searchResults; let i = index;" (click)="searchForItem(storeItem.store_name)" (keyup)="searchListKeyup($event, storeItem.store_name, i + 1);"
            routerLink="/search" [queryParams]="{q:storeItem.store_name}" tabindex="1">
            <img src="assets/svg/ico_search_tabs.svg">
            <div class="text-capitalize">{{storeItem.store_name}}</div>
          </li>
          <li *ngIf="searchResults && searchResults.length === 0" tabindex="1">
            <img src="assets/svg/ico_search_tabs.svg">
            <div>No results</div>
          </li>
        </ul>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!searchInput.value">
      <div class="list-title">Recent searches</div>
      <ul style="list-style-type: none;cursor: pointer; margin: 0;">
        <li #listItem *ngFor="let storeName of history; let i = index;" (click)="searchForItem(storeName)" (keyup)="searchListKeyup($event, storeName, i);" routerLink="/search"
          [queryParams]="{q:storeName}" tabindex="1">
          <img src="assets/svg/ico_search_tabs.svg">
          <div class="paragraph text-capitalize"> {{storeName}} </div>
        </li>
      </ul>
    </ng-container>
  </div>
</ng-template>

<div *ngIf="isMobile && overlayOpen" class="mobile-banner">
  <div class="container">
    <label class="mobile-banner__ico profile-save-text cls">
      <img src="assets/svg/ico_arrow_left.svg" alt="" (click)="closeSearchBox()" class="se-inline"><label class="cls">Search </label>
    </label>
  </div>
</div>
<!-- <span *ngIf="overlayOpen"
    style="position: fixed; top: 0; bottom: 0; left: 0;right: 0; background-color: #81818169; z-index: -1;"
    (click)="closePopover()"></span> -->
