.cart-confirm-dialogue{
    background:#fff;
    border-radius: 8px;
    margin-top: -100px;
    max-width:328px;
    
}
.cart-error-header{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.success-text{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #353FA8;
    cursor:pointer;
}