<div class="modal-body cart-confirm-dialogue text-center" >
    <span class="cart-error-header">
        You already have an cart from other store
    </span>
    <p class="paragraph14 pt-4">
        Items from an other store are already added to cart. You need to clear them first before add this item.</p>
    <div class="pt-2">
        <div class="success-text" (click)="userDecision.next(true)">Clear Cart</div>
        <hr>
        <div class="success-text" (click)="userDecision.error(false)">Cancel</div>
    </div>
</div>
