<div class="margins-center">
    <form [formGroup]="registrationForm" (ngSubmit)="signup()">
        <!-- <h3 class="std-heading-4"> Sign up with mobile </h3>
        <div class="paragraph14" style="margin-bottom: 24px;">
            We’ll send a verification code to your number
        </div> -->
        <ng-template #emailInput>
            <h3 class="std-heading-4 text-center"> Sign up with email </h3>
            <div class="paragraph14 text-center" style="margin-bottom: 24px;">
                We’ll send a verification code to your email
            </div>

            <div *ngIf="errorMessage" class="error-mez" id="hideMe">
                {{errorMessage}}
            </div>

            <div class="form-group form-group--margin">
                <div class="label-inputs"> <span class="float-left"> Email </span><span class="float-right"
                        style="color: #353FA8;cursor: pointer;" (click)="toggleType()"> Use mobile </span> </div>
                <input type="text" class="form-input error-highlight" placeholder="Email address"
                    formControlName="email">
                <div *ngIf="controls.email.touched && controls.email.errors" class="error-mez">
                    <div> {{getErrors('email')}} </div>
                </div>
            </div>
        </ng-template>

        <ng-container *ngIf="activeType === 'mobile'; else emailInput">
            <h3 class="std-heading-4 text-center"> Sign up with mobile </h3>
            <div class="paragraph14 text-center" style="margin-bottom: 24px;">
                We’ll send a verification code to your number
            </div>

            <div *ngIf="errorMessage" class="error-mez">
                {{errorMessage}}
            </div>

            <div class="form-group form-group--margin">
                <div class="label-inputs"> <span class="float-left"> Mobile </span><span class="float-right"
                        style="color: #353FA8;;cursor: pointer;" (click)="toggleType()"> Use email </span> </div>
                <input type="number" class="form-input error-highlight" placeholder="Mobile number"
                    formControlName="mobile" minlength="10" maxlength="10" >
                <div *ngIf="controls.mobile.touched && controls.mobile.errors" class="error-mez">
                    <div> {{getErrors('mobile')}} </div>
                </div>
            </div>
        </ng-container>

        <div class="form-group form-group--margin">
            <div class="label-inputs"> <span class="float-left"> Password </span></div>
            <app-password [showHint]="false">
                <input passwordInput type="password" class="form-input error-highlight custom-padd"
                    placeholder="Password" formControlName="password">
            </app-password>
            <div *ngIf="controls.password.touched && controls.password.errors" class="error-mez">
                <div> {{getErrors('password')}} </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 pad-ing-right" style="margin-bottom: 24px;">
                <input type="number" class="form-input error-highlight" placeholder="Enter code"
                    formControlName="verificationCode" minlength="6" maxlength="6" >
                <div *ngIf="controls.verificationCode.touched && controls.verificationCode.errors" class="error-mez">
                    <div> {{getErrors('verificationCode')}} </div>
                </div>
            </div>
            <div class="col-6 pad-ing-left" style="margin-bottom: 24px;">
                <send-code
                    (click)="activeType === 'email' ? controls.email.markAsTouched() : controls.mobile.markAsTouched()"
                    [data]="{purpose: 'signup', type: activeType, value: activeType === 'email'? registrationForm.value.email : registrationForm.value.mobile}"
                    (error)="handleError($event)">
                </send-code>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 24px;">
            <button type="submit" class="btn std-button std-button--blue"
                [disabled]="loading">{{loading? 'Sigining up...' : 'Next'}}</button>
        </div>
        <div class="paragraph14 paragraph14__f12 text-center">
            By creating a menuzapp account you're agreeing to our <b style="color:#353FA8;cursor: pointer;">
                Privacy Policy </b> and <b style="color:#353FA8;cursor: pointer;"> Terms of Service </b>
        </div>
    </form>
</div>