<img [src]="profileImageUrl ? profileImageUrl : 'assets/images/add_image.png'" alt="profile image" style="width: 200px">
<ng-container *ngIf="editMode">
    <div>
        should be of size 500px
    </div>
    <file-upload [accept]="validFileFormats" [asyncValidators]="asyncValidators" (file)="handleFileUpload($event)"
        (error)="handleFileError($event)">
        <button> Change <img *ngIf="uploading" src="assets/images/loader.gif" alt=""></button>
    </file-upload>
    <button (click)="urlChange.emit(null)">Remove</button>
</ng-container>