<div *ngIf="selecteditemId">
  <store-item-detail [item]="{itemId: selecteditemId, storeId: storeId}"></store-item-detail>
</div>


<div class="main-panel" id="main-panel">
  <!-- <div style="width: 100%; height: 48px; position: absolute;" #observationElement></div> -->
  <ng-container *ngIf="storeDetail">
    <div class="main-content">
      <div class="fixed-shadow" #topBar [class.newClass]="scrolledDown">
        <div class="margins-left">
          <span style="float:left">
            <table>
              <tr>
                <td>
                  <img src="assets/images/ico_arrow_left_white.png" (click)="goBack()" style="cursor: pointer;outline:0;">
                </td>
                <td align="bottom">
                  <span *ngIf="scrolledDown" style="display: inline-block; animation: fadeInDown .1s">&nbsp;
                    {{storeDetail.name}}</span>
                </td>
              </tr>
            </table>

            <!-- <img src="assets/images/ico_arrow_left_white.png" routerLink="/"
                            style="cursor: pointer;outline:0;"> &nbsp; <span class="fixed-name-scroll"
                            style="display: none;"> {{storeDetail.name}}</span>  -->
          </span>
          <span style="float:right">
            <ul class="menu">
              <li class="store-icons-det">
                <store-heart [store]="{id: storeDetail.id, isFavourite: storeDetail.isFavourite,page:'preview'}"></store-heart>
              </li>
              <li class="store-icons-det store-icons-det--det1" >
                <app-share [store]="{id: storeDetail.id, name: storeDetail.name}"></app-share>
              </li>
              <li class="store-icons-det store-icons-det--det1">
                <a [href]="'https://www.google.com/maps/dir/?api=1&destination='+storeDetail.latLng.lat+','+storeDetail.latLng.lng" target="_blank" style="text-decoration: none;">
                  <img src="assets/svg/cards/share-detail.svg" title="Direction">
                </a>
              </li>
            </ul>
          </span>
          <!-- <span> <img src="assets/images/ico_arrow_left.png" routerLink="/"
                            style="cursor: pointer;outline:0;"> &nbsp; <span *ngIf="scrolledDown" class="fixed-name-scroll"> {{storeDetail.name}}</span> </span> -->
        </div>
      </div>
      <div class="wal-image">
        <img [src]="storeDetail.storeImage || 'assets/images/Area.png' ">
      </div>
      <div class="wallpaper-card">
        <table class="d-none d-sm-block">
          <tr>
            <td valign="middle">
              <img [src]="storeDetail.logo || 'assets/svg/null_logo.svg'" class="profile-log-detail" />
            </td>
            <td class="tim-body" >
              <div class="d-flex flex-row sub-name bt-m">
                <span class="dist-sp" > {{storeDetail.distance}} </span>
                <present-availability [availability]="storeDetail.openingHours">
                </present-availability>
              </div>
              <div class="std-heading-4 text-capitalize"> {{storeDetail.name}} </div>
            </td>
          </tr>
        </table>
        <div class="d-block d-sm-none">
          <div style="position: absolute;top:-76px;left:0;z-index: 1;">
            <img [src]="storeDetail.logo || 'assets/svg/null_logo.svg'" class="profile-log-detail" />
          </div>
          <div style="position: relative;top:10px;">
            <div class="std-heading-4 text-capitalize bt-m"> {{storeDetail.name}} </div>
              <div class="d-flex flex-row sub-name">
                <span class="dist-sp" > {{storeDetail.distance}} </span>
                <present-availability [availability]="storeDetail.openingHours">
                </present-availability>
              </div>
          </div>
        </div>
        <div class="rating-card">
          <table>
            <tr>
              <td style="padding-right:8px">
                <facebook-like-count [url]="storeDetail.facebookUrl"></facebook-like-count>
              </td>
              <td align="top">
                <google-rating [store]="storeDetail"></google-rating>
              </td>
            </tr>
          </table>
        </div>
        <div class="address-content">
          {{storeDetail.address}}
        </div>
       
        <div style="width: 100%; height: 0px; position: absolute; background: pink" #observationElement></div>
      </div>
      <!----------------------------- items cards -------------------------->
      <store-category [categories]="storeDetail.categories" [scrolledDown]="scrolledDown"></store-category>
      <!----------------------------- items cards end ---------------------->
    </div>
    <div class="right-content" style="z-index: 99999;">
      <div class="empty-cart">
        <img src="assets/images/empty_cart.png">
        <p class="paragraph" style="margin-top:34px">
          Add some items to your order to get started
        </p>
      </div>
    </div>
  </ng-container>
</div>
