<form (ngSubmit)="handleSubmit()" [formGroup]="profileForm" class="margins-center">
    <h3 class="std-heading-4 text-center"> Complete your profile </h3>
    <div class="paragraph14 text-center" style="margin-bottom: 24px;">
        Add a photo so restaurant staff can recognize you
    </div>
    <div *ngIf="backendErrorMessage && profileForm.invalid" class="error-mez">{{backendErrorMessage}}</div>
    <!-- <file-upload loadingPlaceholder [loadStatus]="importComplete" [validators]="csvFileValidators"
        [accept]="validFileFormats" validFileFormats (file)="handleFileUpload($event)"
        (error)="handleFileError($event)">
        <a type="button" class="btn std-button std-button--transparency1"> <img
                src="../../../../../assets/images/ico_upload.png"> &nbsp; Import via CSV </a>
    </file-upload> -->
    <file-upload [accept]="validFileFormats" [validators]="fileValidators" (file)="handleFileUpload($event)"
        (error)="handleFileError($event)">
        <div class="profile-image-signup text-center" style="margin-bottom: 16px;cursor: pointer;">
            <img class="upload-image" *ngIf="!imageLoading; else imageLoader"
                [src]="this.profileForm.controls.profileImage.value ? this.profileForm.controls.profileImage.value : 'assets/images/add_image.png'">
            <!-- <img class="upload-image" src="assets/images/empty_store_image.png"> -->
            <!-- uplaod image end  -->
        </div>
        <ng-template #imageLoader>
            <img src="assets/images/loader.gif" *ngIf="imageLoading" style="width: 20px;">
        </ng-template>
    </file-upload>


    <div class="row">
        <div class="col-md-6 pad-ing-right" style="margin-bottom: 24px;">
            <div class="label-inputs"> <span class="float-left"> First name </span></div>
            <input type="text" class="form-input error-highlight" placeholder="First name" formControlName="firstName">
            <div *ngIf="profileForm.controls.firstName.invalid && profileForm.controls.firstName.touched"
                class="error-mez"> First name is required
            </div>
        </div>
        <div class="col-md-6 pad-ing-left" style="margin-bottom: 24px;">
            <div class="label-inputs"> <span class="float-left"> Last name </span></div>
            <input type="text" class="form-input error-highlight" placeholder="Last name" formControlName="lastName">
            <div *ngIf="profileForm.controls.lastName.invalid && profileForm.controls.lastName.touched"
                class="error-mez"> Last name is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn std-button std-button--blue"
            [disabled]="saving">{{saving? 'Saving...': 'Continue'}}</button>
    </div>
</form>