<li style="cursor: pointer;outline:none;margin-right:16px;" #lineIcon (click)="showPopover(profTemp)" title="Settings">
    <img class="a1 img-display-desktop" src="assets/images/navbar/ico_menu.png" >
    <img class="img-display-mobile" src="assets/images/profile/ico_menu.png" >
</li>

<ng-template #profTemp>

    <ul class="profile-popup" >
        <li class="only-mobile" style="padding: 0;margin:0;">
            <div class="profile-header-resp" > 
               More
            </div> 
        </li>
        <li routerLink="profile/basic" style="outline:0;"> <img src="assets/images/profile/profile_user.png" > <span style="padding-left:16px;"> Profile </span> </li>
        <li routerLink="profile/settings" style="outline:0;"> <img src="assets/images/profile/ico_setting.png" class="profile-ic-21"> <span style="padding-left:16px;"> Settings </span> </li>
        <li  style="outline:0;"> <img src="assets/images/profile/ico_dollar_sign.png" class="profile-ic-21"> <span style="padding-left:16px;"> Payment </span> </li>
        <li routerLink="profile/security" style="outline:0;" > <img src="assets/images/profile/ico_key.png" class="profile-ic-21"> <span style="padding-left:16px;"> Security </span> </li>
        <li  style="outline:0;"> <img src="assets/images/profile/ico_history.png" class="profile-ic-21" > <span style="padding-left:16px;"> History </span> </li>
        <li  style="outline:0;"> <img src="assets/images/profile/ico_mobile.png" class="profile-ic-21" > <span style="padding-left:16px;"> Get the app </span> </li>
        <li (click)="logout()" style="outline:0;"> <img src="assets/images/profile/log-out.png" class="profile-ic-21"> <span style="padding-left:16px;"> Logout </span> </li>
    </ul>
</ng-template>
