.profile-popup {
    background: var(--color-background);
    color: var(--color-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    width: 200px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.profile-popup li {
    list-style-type: none;
    line-height: 24px;
    padding: 16px;
    cursor: pointer;
    &:hover {
        background: var(--color-background-tertiary);
    }
}
.profile-popup li label{
    line-height: 24px;
    margin:0;
}
.profile-header-resp {
    color: var(--color-background);
    background: var(--color-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 14px 0;
}
.pdr-16 {
    margin-right: 16px;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .img-display-desktop {
        display:none;
    }
    .img-display-mobile {
        display:block;
    }
    .profile-popup {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin-bottom: 56px;
        border-radius: 0;
    }
    .only-mobile {
        display:block;
    }
 }
 
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .img-display-desktop {
        display:none;
    }
    .img-display-mobile {
        display:block;
    }
    .profile-popup {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin-bottom: 56px;
        border-radius: 0;
    }
    .only-mobile {
        display:block;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .img-display-desktop {
        display:none;
    }
    .img-display-mobile {
        display:block;
    }
    .profile-popup {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin-bottom: 56px;
        border-radius: 0;
    }
    .only-mobile {
        display:block;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .img-display-mobile {
        display:none;
    }
    .img-display-desktop {
        display:block;
    }
    .only-mobile {
        display:none;
    }
    .profile-popup { 
        position: relative;
        top:5px;
      }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .img-display-mobile {
        display:none;
    }
    .img-display-desktop {
        display:block;
    }
    .only-mobile {
        display:none;
    }
    .profile-popup { 
        position: relative;
        top:5px;
      }
 }
