<li style="cursor: pointer;outline:none" #lineIcon (click)="showPopover(profTemp)" title="Settings">
    <img class="a1 img-display-desktop" src="assets/images/navbar/ico_menu.png" >
    <img class="img-display-mobile" src="assets/images/profile/ico_menu.png" >
</li>

<ng-template #profTemp>
    <ul class="profile-popup" >
        <li> <img src="assets/images/profile/profile_user.png"> <span style="padding-left:16px;"> Profile </span> </li>
        <li> <img src="assets/images/profile/ico_setting.png"> <span style="padding-left:16px;"> Settings </span> </li>
        <li> <img src="assets/images/profile/ico_key.png"> <span style="padding-left:16px;"> Security </span> </li>
        <li (click)="logout()"> <img src="assets/images/profile/log-out.png"> <span style="padding-left:16px;"> Logout </span> </li>
    </ul>
</ng-template>
