.profile-popup {
    background: var(--color-background);
    border-radius: 8px;
    color: var(--color-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 200px;
}
.profile-popup li {
    list-style-type: none;
    padding: 16px;
    cursor: pointer;
    &:hover {
        background: var(--color-background-secondary);
        border-radius: 8px;
    }
}
.profile-header-resp {
    color: var(--color-background);
    background: var(--color-primary);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 12px 0;
}
@media only screen and (max-width: 600px) {
    .img-display-desktop {
        display: none;
    }
    .img-display-mobile {
        display: block;
    }

    .profile-popup {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin-bottom: 56px;
        border-radius: 0;
    }
    .only-mobile {
        display:block;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .img-display-desktop {
        display: block;
    }
    .img-display-mobile {
        display: none;
    }
    .only-mobile {
        display:none;
    }
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .img-display-mobile {
        display: none;
    }
    .img-display-desktop {
        display: block;
    }
    .only-mobile {
        display:none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .img-display-mobile {
        display: none;
    }
    .img-display-desktop {
        display: block;
    }
    .only-mobile {
        display:none;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
    .img-display-mobile {
        display: none;
    }
    .img-display-desktop {
        display: block;
    }
    .only-mobile {
        display:none;
    }
}
.profile-ic-21 {
    width:21px;
    height:21px;
}
.pdr-16 {
    margin-right: 16px;
}