.required {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #1a1a1a;
    padding: 4px 8px;
    border-radius: 12px;
    position: relative;

    &__icon--success {
        // width: 0px;
    }

    &__icon--failure {
        // height: 0px;
    }

    &__text {
    }
}
