<span #popOrigin>
    <img [src]="isIconBlack? 'assets/svg/cards/share.svg' : 'assets/svg/cards/share-detail.svg'"
        (click)="showModal(sharePanel)" style="cursor: pointer;outline:none;" title="share">
</span>

<ng-template #sharePanel>
    <div class="share-social">
        <div style="padding:12px">
            <img src="assets/svg/ico_close.svg" style="cursor: pointer;width:20px;height:20px;" (click)="close()"> <span class="f11" > {{textMessage}} </span>
        </div>
       <div class="pd-comp">
            <div class="std-heading-4 mrtb">
                Share this with your social community
            </div>
            <div (click)="fbShare()" class="social-icons social-icons--fb">
                <img src="assets/svg/ico_social_facebook.svg"><label>Facebook</label>
            </div>
            <a [href]="'http://twitter.com/share?text='+caption+'&url='+url" target="_blank" class="sh-box">
                <div class="social-icons social-icons--twt">
                    <img src="assets/svg/ico_social_twitter.svg"><label>Twitter</label> 
                </div>
            </a>

            <a [href]="'mailto:?body='+ url +'&subject=' + caption" class="sh-box">
                <div class="social-gmail" class="social-icons social-icons--email">
                    <img src="assets/svg/ico_email.svg"><label>Email</label>
                </div>
            </a>
            <div class="social-icons social-icons--email" style="margin-bottom: 0;" (click)="copyUrl()">
                <img src="assets/svg/ico_link.svg"><label>Copy link</label>
            </div>
            <input type="text" [value]="url" id="hideMe" #urlCopyInput class="hide-div" style="color:transparent;border:0">
        </div>
    </div>
</ng-template> 