.social-fb {
    cursor: pointer;
    background:#1877f2;
    color:#fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    margin-right:10px;
}
.social-twt {
    cursor: pointer;
    background:#fff;
    color:#1DA1F2;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    margin-right:10px;
}
.social-gmail {
    background:#fff;
    color:#BB001B;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
}
.share-social {
    background:#fff;
    padding:5px;
    margin-top: 25px;
    border-radius: 4px;
}