<span #popOrigin>
    <img [src]="isIconBlack? 'assets/images/share.png' : 'assets/images/navbar/ico_share.png'"
        (click)="showModal(sharePanel)" style="cursor: pointer;outline:none;" title="share">
</span>

<ng-template #sharePanel>
    <div class="share-social">
        <img src="assets/images/ico_close.png" style="cursor: pointer;" (click)="close()"> <span *ngIf="showpopup" class="f11" id="hideMe"> URL Copied </span>
        <div class="std-heading-4 mrtb">
            Share this with your social community
        </div>
        <button (click)="fbShare()" class="social-icons social-icons--fb">
            <img src="assets/images/profile/ico_social_facebook.png"> Facebook
        </button>
        <a [href]="'http://twitter.com/share?text='+caption+'&url='+url" target="_blank" class="sh-box">
            <button class="social-icons social-icons--twt">
                <img src="assets/images/profile/ico_social_twitter.png"> Twitter
            </button>
        </a>

        <a [href]="'mailto:?body='+ url +'&subject=' + caption" class="sh-box">
            <button class="social-gmail" class="social-icons social-icons--email">
                <img src="assets/images/profile/ico_email.png"> Email
            </button>
        </a>
        <button class="social-icons social-icons--email" style="margin-bottom: 0;" (click)="copyUrl()">
            <img src="assets/images/profile/ico_link.png"> Copy link
        </button>
        <input type="text" [value]="url" id="hideMe" #urlCopyInput class="hide-div" style="color:transparent;border:0">
    </div>
</ng-template> 