<div class="edit-profile-page">
    <div class="profile-navbar">
        <div class="container">
            <span class="profile-save-text">
                <img src="assets/images/ico_arrow_left_white.png" routerLink="/profile/security"
                    style="padding-right:16px;cursor: pointer;outline: 0;border:0;">
                <label class="text-heder" *ngIf="ischangeM">
                    Change mobile number
                </label>
                <label class="text-heder" *ngIf="isaddM">
                    Add mobile number
                </label>
            </span>
            <div class="center-logo-profile only-big" routerLink="/">
                <img src="assets/svg/logo_white.svg">
            </div>
        </div>
    </div>
    <div class="security-card-pwd">
        <form [formGroup]="changeForm" (ngSubmit)="changeMobile()">
            <h3 class="std-heading-4 text-center"> Enter new mobile number </h3>
            <div class="text-center paragraph14" style="margin-bottom: 24px;">
                We'll send a verification code to this number
            </div>
            <div *ngIf="errorMessage" class="error-mez">
                {{errorMessage}}
            </div>
            <div class="form-group form-group--margin">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label-inputs"> Mobile</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <tel-input formControlName="mobile_number"></tel-input>
                        <!-- <ngx-intl-tel-input [cssClass]="'form-input'" [enablePlaceholder]="true" [onlyCountries]="['in']" [preferredCountries]="['au']" [enableAutoCountrySelect]="true" [separateDialCode]="true" formControlName="mobile" [phoneValidation]="true" ></ngx-intl-tel-input> -->
                    </div>
                </div>
                <app-abs-control-error [control]="changeForm.controls.mobile_number"></app-abs-control-error>
            </div>
            <div class="row">
                <div class="col-6 pad-ing-right">
                    <input type="number" class="form-input error-highlight" placeholder="Enter code"
                        formControlName="mobile_token" minlength="6" maxlength="6">
                    <div class="row">
                        <div class="col-md-12">
                            <app-abs-control-error [control]="changeForm.controls.mobile_token"></app-abs-control-error>
                        </div>
                    </div>
                </div>
                <div class="col-6 pad-ing-left">
                    <send-code (click)="changeForm.controls.mobile_number.markAsTouched()"
                        [data]="changeForm.controls.mobile_number.valid ? {purpose: 'change', type: 'mobile', value: changeForm.controls.mobile_number.value } : null"
                        (error)=" setError(this.changeForm, $event)">
                    </send-code>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="margin-top:24px;">
                        <button type="submit" class="std-button std-button--blue" [disabled]="loading">
                            <p style="margin:0" *ngIf="!loading; else loadingTemp"> Next </p>
                            <ng-template #loadingTemp>
                                <img src="assets/images/loader_white_24.gif" alt="" style="height: 24px;">
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>