<div class="row">
    <div class="col-md-12">
        <div class="input-container">
            <img src="../../../../../assets/images/ico_arrow_left.png" class="input-img-top" (click)="searchedLocation.emit(null)">
            <input type="text" class="input-search-border" #searchInput placeholder="enter address or suburb">
        </div>
    </div>
</div>
<div *ngIf="!suggestionsLoading; else loading" class="row">
    <ul class="col-md-12">
        <li *ngFor="let suggestion of suggestions" (click)="onLocSelect(suggestion)">
            {{suggestion.structured_formatting.main_text}}---
            {{suggestion.structured_formatting.secondary_text}}</li>
    </ul>
</div>
<ng-template #loading>
    <div class="row">
        <div class="col-md-12">
            location loading...
        </div>
    </div>
</ng-template>