<div class="security-card">
    <!------------------ mobile number -------------------->
    <div style="display:none;">
        <h3 class="std-heading-4 text-center"> Enter new mobile number </h3>
        <div class="paragraph14 text-center" style="margin-bottom: 24px;">
            We’ll send a verification code to this number
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="label-inputs"> Mobile </div>
                <input type="text" class="form-input error-highlight" placeholder="Mobile number">
                <!-- <div class="error-mez"> 
                    Current password required
                </div> -->
            </div>
        </div>
        <div class="row" style="margin-top:24px;">
            <div class="col-md-6">
                <input type="text" class="form-input error-highlight" placeholder="Enter code">
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn std-button std-button--blue"> Send code </button>
            </div>
        </div>
        <div class="row" style="margin-top:24px;">
            <div class="col-md-12">
                <button type="submit" class="btn std-button std-button--blue"> Next </button>
            </div>
        </div>
    </div>
    <!------------------ mobile number end -------------------->

    <!------------------ Email  -------------------->
    <div >
        <h3 class="std-heading-4 text-center"> Enter new email address </h3>
        <div class="paragraph14 text-center" style="margin-bottom: 24px;">
            We’ll send a verification code to this email
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="label-inputs"> Email </div>
                <input type="text" class="form-input error-highlight" placeholder="Email address">
                <!-- <div class="error-mez"> 
                    Current password required
                </div> -->
            </div>
        </div>
        <div class="row" style="margin-top:24px;">
            <div class="col-md-6">
                <input type="text" class="form-input error-highlight" placeholder="Enter code">
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn std-button std-button--blue"> Send code </button>
            </div>
        </div>
        <div class="row" style="margin-top:24px;">
            <div class="col-md-12">
                <button type="submit" class="btn std-button std-button--blue"> Next </button>
            </div>
        </div>
    </div>
    <!------------------ email end -------------------->
</div>