<div class="security-card">
    <h3 class="std-heading-4 text-center"> Enter new password </h3>
    <div class="paragraph14 text-center" style="margin-bottom: 24px;">
        You must also enter your current password
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="label-inputs"> Current password </div>
            <input type="text" class="form-input error-highlight" placeholder="Password">
            <!-- <div class="error-mez"> 
                Current password required
            </div> -->
        </div>
    </div>
    <div class="row" style="margin-top:24px;">
        <div class="col-md-12">
            <div class="label-inputs"> New password </div>
            <input type="text" class="form-input error-highlight" placeholder="Password">
            <!-- <div class="error-mez"> 
                Current password required
            </div> -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="std-heading-5 forgot"> Forgot password </div>
    </div>
    <div class="row" style="margin-top:24px;">
        <div class="col-md-12">
            <button type="submit" class="btn std-button std-button--blue"> Next </button>
        </div>
    </div>
</div>