<div class="edit-profile-page">
    <div class="profile-navbar">
        <div class="container">
            <div routerLink="/profile/security" class="text-heder">
                <img src="assets/images/ico_arrow_left_white.png" style="padding-right:16px;">
                Change password
            </div>
            <div class="center-logo-profile only-big" routerLink="/">
                <img src="assets/svg/logo_white.svg">
            </div>
        </div>
    </div>
    <div class="security-card-pwd">
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
            <h3 class="std-heading-4 text-center"> Enter new password </h3>
            <div class="paragraph14 text-center" style="margin-bottom: 24px;">
                You must also enter your current password
            </div>
            <div class="row">
                <div class="col-md-12 error-mez" *ngIf="changeErrorMsg" id="hideMe">
                    {{changeErrorMsg}}
                </div>
                <div class="col-md-12">
                    <div class="label-inputs"> Current password </div>
                    <!-- <input type="text" formControlName="currentPassword" class="form-input error-highlight"
                        placeholder="Password">
                    <div class="error-mez"
                        *ngIf="passwordForm.controls.currentPassword.touched && passwordForm.controls.currentPassword.invalid">
                        Current password is equired.
                    </div> -->
                    <app-password>
                        <input type="text" formControlName="currentPassword" type="password" passwordInput class="form-input error-highlight"
                            placeholder="Password">
                    </app-password>
                    <div class="error-mez"
                        *ngIf="passwordForm.controls.currentPassword.touched && passwordForm.controls.currentPassword.invalid">
                        Current password is required.
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:24px;">
                <div class="col-md-12">
                    <div class="label-inputs"> New password </div>
                    <app-password>
                        <input type="text" class="form-input error-highlight" formControlName="newPassword" passwordInput type="password" placeholder="Password">
                    </app-password>
                    <div class="error-mez"
                        *ngIf="passwordForm.controls.newPassword.touched && passwordForm.controls.newPassword.invalid">
                        New password is required.
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="std-heading-5 forgot"> Forgot password </div>
            </div> -->
            <div class="row" style="margin-top:24px;">
                <div class="col-md-12">
                    <button type="submit" class="std-button std-button--blue" [disabled]="!passwordForm.dirty">
                        <p style="margin: 0;" *ngIf="!loading; else loadingTemp"> Next </p>
                        <ng-template #loadingTemp>
                            <img src="assets/images/loader_white_24.gif" alt="" style="height: 24px;" *ngIf="loading; else ">
                        </ng-template>
                    </button>
                    <!-- <state-btn [state]="btnState" [disabled]="!passwordForm.dirty" defaultText="Submit"></state-btn> -->
                </div>
            </div>
        </form>
    </div>
</div>
