input[type="range"] { 
    -webkit-appearance: none;
    // position: relative;
    overflow: hidden;
    height: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px; 
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--color-background-secondary);
}

input[type=range]:focus {
    outline: none;
  }
/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
 input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 8px; /* 1 */
    height: 8px;
    background:var(--color-background);
    box-shadow: -100vw 0 0 100vw var(--color-primary);
    border-radius: 50%;
    cursor: pointer;
}
