<div class="edit-profile-page">
    <div class="profile-navbar">
        <div class="container">
            <div class="col-md-12 only-big">
                <span class="profile-save-text" routerLink="/">
                    <img src="assets/images/ico_arrow_left_white.png"> Settings
                </span>
                <div class="center-logo-profile" routerLink="/" >
                    <img src="assets/svg/logo_white.svg">
                </div>
            </div>
            <div class="col-md-12 only-small">
                <span class="profile-save-text" routerLink="/">
                    <img src="assets/images/ico_arrow_left_white.png">
                </span>
                <div class="center-logo-profile profile-save-text" style="cursor: text;">
                    Settings
                </div>
            </div>
        </div>
    </div>
    <div class="security-card">
        <div class="container-fluid">
            <div class="paragraph14 paragraph14__bold">
                Radius
            </div>
            <div>
                <label style="margin-top:12px;cursor: pointer;">
                    <input class="cb" type="radio" name="radius"/>
                    <span> Suggested radius </span>
                </label>
            </div>
            <div>
                <label style="margin-top:12px;cursor: pointer;">
                    <input class="cb" type="radio" name="radius"/>
                    <span> Custom radius </span>
                </label>
            </div>
            <div>
                <div class="paragraph14 paragraph14__bold" style="margin-top:16px;">
                    Custom radius - 1km
                </div>
                <div class="chrome">
                    <input  min="0" max="100" type="range" class="slider"/>
                 </div>
            </div>
            
        </div>
    </div>
</div>