<ng-template appNavbarHeadingContent>
    <div class="title-content profile-save-text" style="cursor: text;"> Settings </div>
</ng-template>
<div class="profile-radius">
    <div class="paragraph14 paragraph14__bold">
        Radius
    </div>
    <div style="margin-bottom:4px;margin-top:14px;">
        <label>
            <input class="cb" type="radio" name="radius" value="0" (change)="handleSel($event.target.value)" [checked]="!radius.value" />
            <p> Suggested radius </p>
        </label>
    </div>
    <div>
        <label>
            <input class="cb" type="radio" name="radius" value="1" (change)="handleSel($event.target.value)" [checked]="radius.value"/>
            <p> Custom radius </p>
        </label>
    </div>
    <ng-container *ngIf="radius.value">
        <div>
            <div class="paragraph14 paragraph14__bold" style="margin-top:16px;margin-bottom:4px;">
                Custom radius - {{radius.value}}km
            </div>
            <div style="padding: 8px 0;">
                <input min="1" max="10" step="1" type="range" [formControl]="radius" class="slider"/>
            </div>
        </div>
    </ng-container>
    <button type="button" (click)="save()" class="std-button std-button--primary float-right" style="margin-top:16px">
        <span *ngIf="!loading" >Save</span>
        <img src="assets/images/loader_white_24.gif" alt="" *ngIf="loading">
    </button>
</div>
    