<div style="background: #f2f2f2;">
    <div #observationElement></div>
    <div class="detail-items sticky-navbar" *ngIf="scrolledDown">
        <div class="container">
            <table class="table-responsive" >
                <tr>
                    <td *ngFor="let category of categories; let i = index"
                        style="font-size:14px;font-style: normal;font-weight: 500;white-space: nowrap;">
                        <button class="pill-button tabs-menu first"
                            [ngStyle]="category === currentCategory ? {'background': '#353FA8', 'color': '#fff'} : {} "
                            (click)="handleTabClick(i); currentCategory=category">
                            {{category.name}}
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="detail-items">
        <div class="container">
            <div class="label-li">
                <div class="row">
                    <div class="col-md-12">
                        <div #categorySections [attr.data-category-index]="i"
                            *ngFor="let category of categories;let i = index">
                            <div class="std-heading-4 first" style="margin-bottom: 16px;margin-top:32px;">
                                {{category.name}}
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-lg-6 col-xl-4"
                                    style="margin-bottom: 16px;padding-left: 12px;padding-right:12px;"
                                    *ngFor="let item of category.items">
                                    <store-item-card [storeItem]="item"></store-item-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>