<div class="store-details-body">
    <div class="container card-container-padding bg-white">
        <label class="order-status"> 
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 6L9 17L4 12" stroke="#36A900" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                Accepting online orders
                <label style="margin:0"> <b> Lunch </b> 10:00AM - 2:00PM  </label>
                <label class="bl-text"> More menu 
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 10L12 14L16 10" stroke="#353FA8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </label>
        </label>
    </div>
    <div class="sticky-navbar card-container-padding" [class.sticky-navbar__visible]="scrolledDown">
        <table class="table-responsive">
            <tr>
                <td *ngFor="let category of categories; let i = index" class="stick-header-names">
                    <div class="pill-button tabs-menu first text-capitalize"
                        [ngStyle]="category === currentCategory ? {'background': '#353FA8', 'color': '#fff'} : {} "
                        (click)="handleTabClick(i)">
                        {{category.name}}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="container card-container-padding">
        <div class="label-li">
            <div class=" pt-4">
                <div #categorySections [attr.data-category-index]="i"
                        *ngFor="let category of categories;let i = index">
                    <div class="std-heading-4 first category-name-spacing text-lowercase">
                        {{category.name}}
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-4 category-cards"
                            *ngFor="let item of category.items">
                            <store-item-card [storeItem]="item"></store-item-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>