<div class="margins-center text-center">
    <h3 class="std-heading-4"> Complete your profile </h3>
    <div class="paragraph14" style="margin-bottom: 24px;">
        Add a photo so restaurant staff can recognise you
    </div>
    <div class="profile-image-signup" style="margin-bottom: 16px;">
        <!-- default image -->
        <img src="assets/images/add_image.png">
        <!-- default image end -->
        <!-- uplaod image -->
        <img class="upload-image" src="assets/images/empty_store_image.png" style="display: none;">
        <!-- uplaod image end  -->
    </div>
    <div class="row">
        <div class="col-md-6 pad-ing-right" style="margin-bottom: 24px;">
            <div class="label-inputs"> <span class="float-left"> First name </span></div>
            <input type="text" class="form-input error-highlight" placeholder="First name">
        </div>
        <div class="col-md-6 pad-ing-left" style="margin-bottom: 24px;">
            <div class="label-inputs"> <span class="float-left"> Last name </span></div>
            <input type="text" class="form-input error-highlight" placeholder="Last name">
        </div>
    </div>
    <div class="form-group">
        <input type="button" class="btn std-button std-button--blue" value="Continue">
    </div>
</div>