*,
*::after,
*::before {
  margin: 0px;
  margin-bottom: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  color: $color-typography-primary;
  font-family: DM Sans !important;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

.std-heading-3 {  
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-boldlevelcolor);
}
.std-heading-4 {   
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-boldlevelcolor);
    // text-transform: capitalize;
  }
  .std-heading-5 {    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-boldlevelcolor);
  }
  .paragraph {    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-boldlevelcolor);
    text-transform: lowercase;
  }

  .paragraph14{    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    // text-transform: lowercase;
    color: var(--color-boldlevelcolor);
    &__f12 {
      font-size: 12px;
      color: var(--color-typography-tertiary);
    }
    &__bold {
      font-weight: bold;
    }
  }

.resnt-menu-top-tabs{
    list-style: none;
    padding: 0px;
    width: 100%;
    font-size: 14px;    
    font-style: normal;
    font-weight: 500;
    color: var(--color-boldlevelcolor);
    height: 48px;
    overflow: hidden;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__item{
        display: inline-block;
    }
    &__button{
        background-color: transparent;
        height:48px;
        border: none;
        outline: none !important;
        width:125px;
        &__active{
            position: relative;
        }
        &__active:after{
            border-bottom: 4px solid var(--color-primary);
            content: '';
            position: absolute;
            bottom: 0px;
            left: 32%;
            width: 35%;
        }
    }    
}
.custom-border {
  position: relative;
}
.custom-border:after {
  content: " ";
  position: absolute;
  border-left: 2px #E5E5E5 solid;
  top: 35%;
  right: 0;
  height: 35%;
  margin-top: auto;
  margin-bottom: auto;
}
.signup-header {    
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;
    color: var(--color-boldlevelcolor);
}

// signup forms
.margins-center {     
  max-width: 432px;
  background: var(--color-background);
  padding:16px;
}
.bx-shdw {
  box-shadow: none !important;
}
.margins-center-profile {
  margin: 96px auto 25px;     
  max-width: 432px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background: var(--color-background);
  padding:16px;
}
input.custom-password-eye {
  padding-right:30px;
}

.upload-image{
  background-size: cover;
  height:100%;
  -o-object-fit: cover;
  object-fit: cover;
  width:100%;
  border-radius:50%;
  width:112px;
  height:112px;
}
// .forgotten-password-body {
//   margin: 48px auto 25px;
//   max-width: 432px;
//   background: var(--color-background);
//   padding: 16px;
// }
.field-icon {
  float: right;
  left: -10px;
  margin-top: -32px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.custom-padd {
  padding-right: 45px;
}
.required {   
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: var(--color-boldlevelcolor);
  padding: 4px 8px;
  border-radius: 12px;
  &--fa2 {
    position: relative;
  }
}
  
