.store-cards {
    background: var(--color-background);
    border-radius: 8px;
    transition: all .6s cubic-bezier(.165,.84,.44,1);
    &--header {
        padding: 12px 16px;
    }
    &--shadow:hover {
        box-shadow: 0 15px 30px rgba(0,0,0,.25);
    }
}
.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}
.store-name {   
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:220px;
    color: var(--color-boldlevelcolor);
}
.sub-name {   
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-boldlevelcolor);
}
.store-image {
    width:100%;
    // height:314px;
    overflow: hidden;
    border: 1px solid #fff;
  }
  .store-image img {
    height:100%;
    -o-object-fit: cover;
    object-fit: cover;
    // -o-object-position: 50% 10%;
    // object-position: 50% 10%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content-card {
    background: var(--color-background);
    padding:11.5px 16px;

}
.user-facebook {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding-left: 3px;
}
.chating-card {
    padding: 0 16px 0 16px;
    &--chat{
        // box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
        padding: 12px 0;
    }
}
.chat-icons li {
    list-style-type: none;
    float:left;
    cursor: pointer;
    .heart {
        padding-right: 28px;
    }
    .share {
        padding-right: 29px;
    }
}
.comment-text {    
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-primary);
    padding-top: 5px;
    cursor: pointer;
}
.description-chating {    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #B3B3B3;
    padding-top:20px;
}
