.top-tab-nav {
    background: var(--color-background);
    width:100%;
    position: fixed;
    // height: 150px;
    top: 0;
    left:0;
    right:0;
    z-index: 1;
}
.section-middle {
    background: var(--color-background-secondary);
}
.menu li{
    float:left;
    list-style-type: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-primary);
    padding:12px;
}
.nav-bar div {
    padding: 12px;
}
.location-text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-boldlevelcolor);
    padding: 12px;
}
.nav-content {
    height:48px;
    margin:16px 0 16px 0;
}

.search-input:focus {
    outline: 0;
    border:0;
    border:1px solid var(--color-primary);
}
.signup-panel {
    background: var(--color-pending);
    padding:30px 30px 20px 30px;
    border:0;
}
.store-list-bg {
    background: var(--color-background-secondary);
    padding:24px 0;
    height: 100%;
}
.input-container {
    position: relative;
    width: 100%;
    background: var(--color-background);
}
.input-img-top {
    position: absolute;
    left: 8px;
    top: 10px;
    outline: none;
    cursor: pointer;
}
.input-img {
    position: absolute;
    left: 8px;
    top: 16px;
    outline: none;
    cursor: pointer;
}

.location {
    font-size: 14px;
    color: var(--color-primary);
}
.input-search-border {
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 45px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: var(--color-boldlevelcolor);
    height: 48px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.locate {
    height: 48px;
    width:100%;
    line-height: 48px;
    padding-left:8px;
    cursor: pointer;
}