.top-tab-nav {
    background: var(--color-background);
    width: 100%;
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; padding: 12px;
    // height:64px;
}
.section-middle {
    background: var(--color-background-secondary);
}
.menu li {
    float: left;
    list-style-type: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-primary);
    // padding: 12px;
}
.nav-bar div {
    padding: 12px;
}
.location-text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 45px;
    color: var(--color-boldlevelcolor);
}
.bck {
    background: var(--color-background-tertiary);
    border-radius: 24px;
    padding: 8px 16px;
}
.nav-content {
    height: 48px;
    margin: 16px 0 16px 0;
}

.search-input:focus {
    outline: 0;
    border: 0;
    border: 1px solid var(--color-primary);
}
.signup-panel {
    background: var(--color-pending);
    padding: 30px 30px 20px 30px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.store-list-bg {
    background: var(--color-background-secondary);
    padding: 30px 0;
    height: 100%;
}
.input-container {
    position: relative;
    width: 100%;
    background: var(--color-background);
}
.input-img-top {
    position: absolute;
    left: 0;
    top: 10px;
    outline: none;
    cursor: pointer;
}
.input-img {
    position: absolute;
    left: 8px;
    top: 16px;
    outline: none;
    cursor: pointer;
}
.location {
    font-size: 14px;
    color: var(--color-primary);
}
.input-search-border {
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 45px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    color: var(--color-boldlevelcolor);
    height: 48px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.locate {
    height: 48px;
    width: 100%;
    line-height: 48px;
    padding-left: 8px;
    cursor: pointer;
}
// forms
.m-star {
    color: var(--color-failure);
}
.error-mez {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-failure);
    margin-top: 4px !important;
}
.label-inputs {
    color: var(--color-boldlevelcolor);
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
}
.form-input {
    border: 2px solid var(--color-background-secondary);
    border-radius: 0 !important;
    height: 48px;
    box-sizing: border-box;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-boldlevelcolor);
    padding: 12px 16px;
    width: 100%;
    &:placeholder {
        color: var(--color-typography-tertiary);
    }
    &:focus {
        outline: 0 !important;
        border: 2px solid var(--color-primary);
        border-radius: 0 !important;
    }
    &--select-input {
        background: var(--color-background-secondary);
    }
    &--text-area {
        height: 96px !important;
    }
}
.form-group--margin {
    margin-bottom: 24px !important;
}

/* All buttons styles */
.std-button {
    border-radius: 6px;
    border: none;
    outline: none !important;
    font-size: 16px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    margin: 0 auto;
    display: inline-block;
    padding: 12px 16px;

    &--primary {
        color: var(--color-background);
        background: var(--color-primary);
    }
    &--primary:hover {
        color: var(--color-background);
    }
    &--transparency {
        color: var(--color-primary);
        background: var(--color-background);
        margin-left:10px;
    }
    &--transparency:hover {
        color: var(--color-primary);
    }
    &--transparency1 {
        color: var(--color-primary);
        background: #fafafa;
        margin-left:10px;
    }
    &--transparency1:hover {
        color: var(--color-primary);
    }
    &--blue {
        color: var(--color-background);
        background: var(--color-primary);
        width: 100%;
    }
    &--blue:hover {
        color: var(--color-background);
    }
    &--plane {
        color: var(--color-primary);
        background: var(--color-background);
    }
    &--redtransparency {
        color: var(--color-failure);
        background: var(--color-background-secondary);
    }
    &--redtransparency:hover {
        color: var(--color-failure);
    }
    &--green {
        color: var(--color-background);
        background: var(--color-success);
    }
    &--green:hover {
        color: var(--color-background);
    }
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #dddddd;
    font-size: 10px;
    // margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}
.loader:before {
    left: -2.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 2.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

input.ng-invalid.ng-touched.error-highlight {
    border: 2px solid var(--color-failure);
}
.navbar-simple {
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 24px;
}
.card-center {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin: 0 auto 25px;     
    max-width: 430px;
    padding: 32px;
}
.signin-card {
    margin: 0 auto 25px;     
    max-width: 312px;
    padding-top: 40px;
}