<div [style.filter]="inProgress ? 'opacity(0.5)': ''">
    <div *ngIf="error" class="err-mez">{{error}}</div>
    <button [disabled]="inProgress" class="std-button std-button--transparency1" (click)="googleSignin()"
        style="margin-bottom: 16px;color:#1a1a1a;">
        <img src="assets/images/google.png">&nbsp; {{ isLogin? 'Log in ' : 'Continue '}}
       with Google
        <img src="assets/images/loader.gif" *ngIf="googleLoading" style="width: 24px;">
    </button>
    <button [disabled]="inProgress" (click)="facebookSignin()" class="std-button std-button--facebook"
        style="margin-bottom: 16px;">
        <img src="assets/images/profile/fb.png">&nbsp; {{ isLogin? 'Log in ' : 'Continue '}} with
        Facebook
        <img src="assets/images/loader.gif" *ngIf="facebookLoading" style="width: 24px;">
    </button>
    <button class="std-button std-button--apple" style="margin-bottom: 24px;" (click)="appleSignIn()">
        <img src="assets/images/profile/apple.png" width="18px" height="18px">&nbsp; {{ isLogin? 'Log in ' : 'Continue '}} with Apple
    </button>
</div>
