<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="signin-card">
                    <h3 class="std-heading-3 text-center"> menuzapp login </h3><br>
                    <div class="form-group form-group--margin">
                        <input type="text" class="form-input" placeholder="Email">

                    </div>
                    <app-password>
                        <div class="form-group form-group--margin">
                            <input passwordInput type="password" class="form-input" placeholder="Password">
                        </div>
                    </app-password>
                    <div class="form-group" style="margin-top:10px;">
                        <input type="submit" class="std-button std-button--blue" value="Sign in">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>