<div class="edit-profile-page">
    <div class="profile-navbar">
        <div class="container">
            <img src="assets/images/ico_arrow_left_white.png" class="arrow-back" routerLink="/profile/security">
            <label class="text-heder" *ngIf="ischangeE">
                Change email
            </label>
            <label class="text-heder" *ngIf="isaddE">
                Add email
            </label>
            <div class="center-logo-profile only-big" routerLink="/">
                <img src="assets/svg/logo_white.svg">
            </div>
        </div>
    </div>
    <div class="security-card-pwd">
        <form [formGroup]="changeForm" (ngSubmit)="changeEmail()">
            <h3 class="std-heading-4 text-center"> Enter new email address </h3>
            <div class="text-center paragraph14" style="margin-bottom: 24px;">
                We’ll send a verification code to this email
            </div>
            <div *ngIf="errorMessage" class="error-mez text-capitalize">
                {{errorMessage}}
            </div>
            <div class="form-group form-group--margin">
                <label class="label-inputs"> Email </label>
                <input type="text" class="form-input error-highlight" placeholder="Email address"
                    formControlName="email">
                <app-abs-control-error [control]="changeForm.controls.email"></app-abs-control-error>
            </div>
            <div class="row">
                <div class="col-6 pad-ing-right">
                    <input type="number" class="form-input error-highlight" placeholder="Enter code"
                        formControlName="email_token" minlength="6" maxlength="6">
                </div>
                <div class="col-6 pad-ing-left">
                    <send-code (click)="changeForm.controls.email.markAsTouched()"
                        [data]="changeForm.controls.email.valid ? {purpose: 'change', type: 'email', value: changeForm.controls.email.value} : null"
                        (error)="setError(changeForm,$event)">
                    </send-code>
                </div>
                <div class="col-md-12">
                    <app-abs-control-error [control]="changeForm.controls.email_token"></app-abs-control-error>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="margin-top:24px;">
                        <button type="submit" class="std-button std-button--blue">
                            <p style="margin:0" *ngIf="!loading; else loadingTemp">Next</p>
                            <ng-template #loadingTemp>
                                <img src="assets/images/loader_white_24.gif" alt="" style="height: 24px;"> Submitting..
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>