<div class="store-item-popup">
    <div @slideIn class="detail-items-popup" *ngIf="show">
        <div class="ico-close-nav">
            <div class="d-flex justify-content-between">
                <div class="close-icon">
                    <img src="assets/images/ico_close.png" (click)="close()" style="cursor: pointer;outline:0">
                </div>
                <ul class="menu">
                    <li class="pd">
                        <img src="assets/images/heart.png">
                    </li>
                    <li class="pd">
                        <img src="assets/images/share.png">
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div> validity state of formarray, {{selectedOptions.valid}}</div> -->
        <div class="modal-body" [style.max-height]="loading? '600px': 'calc(90vh - 108px)'">
            <p *ngIf="loading">Loading...</p>
            <ng-container *ngIf="itemDetail">
                <div class="std-heading-3 text-capitalize">
                    {{itemDetail.name}}
                </div>
                <div class="item-div-image">
                    <img [src]="itemDetail.image" class="img-fluid">
                </div>
                <ng-container *ngFor="let modifier of itemDetail.modifiers; let i = index">
                    <div [ngSwitch]="modifier.minSelection === 1 && modifier.maxSelection === 1">
                        <store-item-modifier *ngSwitchCase="false" [formControl]="selectedOptions.at(i)"
                            [modifier]="modifier">
                        </store-item-modifier>
                        <item-modifer-selector-radio *ngSwitchCase="true" [modifier]="modifier"
                            [formControl]="selectedOptions.at(i)"></item-modifer-selector-radio>
                    </div>
                </ng-container>
            </ng-container>
            <div *ngIf="itemDetail.modifiers.length > 0">
                <div  class="cart-item-show-more text-center">
                    <label>
                        Show 7 more
                    </label>
                </div>
                <hr>
                <div class="add-extra-item">
                    <div class="d-flex justify-content-center">
                        <img src="assets/images/cart/item-menus-disable.svg"/>
                        <label class="mlr-32">1</label>
                        <img src="assets/images/cart/item-add-enable.svg"/>
                    </div>
                </div>
            </div>    
            
        </div>
        <div class="footer-btn">
            <button (click)="addToCart()" type="button" class="btn std-button std-button--blue">
                Add to cart <span *ngIf="itemDetail" class="float-right">${{totalAmount}}</span>
            </button>
        </div>
    </div>
    <div class="item-detail-background" (click)="close()"></div>
</div>