<div class="store-item-popup">
    <div @slideIn class="detail-items-popup" *ngIf="show">
        <div class="ico-close-nav" [ngStyle]="{'border-bottom': scrolled ? '1.5px solid #ccc' : '' }">
            <table style="width: 100%;">
                <tr>
                    <td width="24px"> 
                        <label class="close-icon">
                            <img src="assets/images/ico_close.png" (click)="close()" style="cursor: pointer;outline:0">
                        </label>
                    </td>
                    <td>
                        <label *ngIf="scrolled" class="paragraph14__bold text-capitalize pl-16 ptop" style="flex-grow: 1;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;">
                            {{itemDetail.name}}
                        </label>
                    </td>
                    <td style="text-align: right;">
                        <!-- <store-heart [store]="{id: item.storeId, isFavourite: item.isFavourite, page:'main'}"></store-heart> -->
                        <label>
                            <app-share [isIconBlack]="true" [store]="{id: item.storeId, name: item.storeName, page:'main'}">
                            </app-share>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-body" disableBodyScroll>
            <p *ngIf="loading">Loading...</p>
            <ng-container *ngIf="itemDetail">
                <div class="std-heading-3 item-name-modifier" inViewPort (inView)="scrolled = !$event">
                    {{itemDetail.name}}
                </div>
                <div class="item-div-image">
                    <img [src]="itemDetail.image ? itemDetail.image + static_image_width : 'assets/svg/details/modifier_null.svg'" class="img-fluid">
                </div>
                <div class="pt-3 pb-3">
                    <ng-container *ngFor="let modifier of itemDetail.modifiers; let i = index">
                        <div [ngSwitch]="modifier.minSelection === 1 && modifier.maxSelection === 1">
                            <store-item-modifier *ngSwitchCase="false" [formControl]="selectedOptions.at(i)"
                                [modifier]="modifier">
                            </store-item-modifier>
                            <item-modifer-selector-radio *ngSwitchCase="true" [modifier]="modifier"
                                [formControl]="selectedOptions.at(i)"></item-modifer-selector-radio>
                        </div>
                    </ng-container>
                </div>
                <div>
                    <!-- <div class="cart-item-show-more text-center">
                        <label>
                            Show 7 more
                        </label>
                    </div> 
                    <hr> -->
                    <item-count (change)="itemCount.patchValue($event)"></item-count>
                </div>
            </ng-container>
        </div>
        <div class="footer-btn">
            <div class="add-cart-card text-center">
                <div (click)="addToCart()" type="button" class="cart-button">
                    <ng-container *ngIf="!addingToCart; else ld">
                        <span class="cart-text">Add to cart</span> <span *ngIf="itemDetail"
                            class="float-right  cart-text">${{totalAmount}}</span>
                    </ng-container>
                    <ng-template #ld>
                        <img src="assets/images/loader_white_24.gif" />
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="item-detail-background" (click)="close()"></div>
</div>

<ng-template #orderExistsTemp let-modal>
    <div class="modal-body cart-confirm-dialogue text-center">
        <span class="cart-error-header">
            {{modal.data.heading}}
        </span>
        <p class="paragraph14 pt-4">
            {{modal.data.message}}
        </p>
        <div class="pt-3 pb-3">
            <div class="success-text" (click)="modal.dismiss()">Okay</div>
        </div>
    </div>
</ng-template>