<div class="store-item-popup">
    <div @slideIn class="detail-items-popup" *ngIf="show">
        <div class="ico-close-nav">
            <div class="d-flex justify-content-between">
                <div class="close-icon">
                    <img src="assets/images/ico_close.png" (click)="close()" style="cursor: pointer;outline:0">
                    <!-- <label class="paragraph14__bold text-capitalize pl-16">
                        {{itemDetail.name}}
                    </label> -->
                </div>
                <ul class="menu">
                    <li class="pd">
                        <img src="assets/images/heart.png">
                    </li>
                    <li class="pd">
                        <img src="assets/images/share.png">
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-body" disableBodyScroll>
            <p *ngIf="loading">Loading...</p>
            <ng-container *ngIf="itemDetail">
                <div class="std-heading-3 text-capitalize">
                    {{itemDetail.name}}
                </div>
                <div class="item-div-image">
                    <img [src]="itemDetail.image || 'assets/svg/details/modifier_null.svg'" class="img-fluid">
                </div>
                <div class="pt-3 pb-3">
                    <ng-container *ngFor="let modifier of itemDetail.modifiers; let i = index">
                        <div [ngSwitch]="modifier.minSelection === 1 && modifier.maxSelection === 1">
                            <store-item-modifier *ngSwitchCase="false" [formControl]="selectedOptions.at(i)"
                                [modifier]="modifier">
                            </store-item-modifier>
                            <item-modifer-selector-radio *ngSwitchCase="true" [modifier]="modifier"
                                [formControl]="selectedOptions.at(i)"></item-modifer-selector-radio>
                        </div>
                    </ng-container>
                </div>
                <div>
                    <!-- <div class="cart-item-show-more text-center">
                        <label>
                            Show 7 more
                        </label>
                    </div> 
                    <hr> -->
                    <item-count (change)="itemCount.patchValue($event)"></item-count>
                </div>
            </ng-container>

        </div>
        <div class="footer-btn">
            <div class="add-cart-card text-center">
                <div [ngStyle]="{'filter': !isStoreOpen? 'opacity(0.5)':''}" (click)="addToCart()" type="button" class="cart-button">
                    <ng-container *ngIf="!addingToCart; else ld">
                        <span class="cart-text">Add to cart</span> <span *ngIf="itemDetail"
                            class="float-right  cart-text">${{totalAmount}}</span>
                    </ng-container>
                    <ng-template #ld>
                        <img src="assets/images/loader_white_24.gif" />
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="item-detail-background" (click)="close()"></div>
</div>