<div [ngClass]="{ 'is-active': isNavBarActive }">
  <div class="container">
    <div class="mtb-5">
      <ng-container #vCont></ng-container>
    </div>
    <div>
      <a routerLink="/" style="outline: 0;cursor: pointer;">
        <img class="only-big" src="assets/svg/logo_white.svg">
      </a>
    </div>
    <div>
      <navbar-icons></navbar-icons>
      <app-store-search-inline *ngIf="ShouldShoWSearch()"></app-store-search-inline>
    </div>

  </div>
</div>

<ng-template #locationTemp>
  <div class="bck">
    <location-selector></location-selector>
  </div>
</ng-template>
