.modal1 {
    right: 20px !important;
    position: absolute !important;
    max-width: 100px;
}
.topnav {
    position: relative;
    overflow: hidden;
}
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.topnav-right {
    float: right;
}
.topnav-left {
    float: left;
}