<p>History</p>
<ul style="list-style-type: none;cursor: pointer;">
    <li *ngFor="let item of searchHistory">
        <table>
            <tr>
                <td valign="middle" style="padding: 12px;">
                    <img src="assets/images/ico_search_plane.png">
                </td>
                <td style="box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);width:100%;">
                    <div class="paragraph"> {{item}} &nbsp; </div>
                </td>
            </tr>
        </table>
    </li>
</ul>