.custom-body-search {
    padding: 12px 0 8px 16px;
    background: #fff;
    width: 360px;
    // box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    // margin-top:-8px;
}

@media only screen and (max-width: 600px) {
    .custom-body-search {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 100px;
        width: 100%;
    }
}
