<div class="custom-location-body">

  <ng-container *ngIf="searchTerm">
    <div class="list-title">New search</div>
    <ul style="list-style-type: none;cursor: pointer; margin-bottom: 0;">
      <li (click)="handleClick(searchTerm)" routerLink="/search" [queryParams]="{q:searchTerm}" tabindex="1">
        <img src="assets/svg/ico_search_tabs.svg">
        <div> Results for "{{searchTerm}}" </div>
      </li>
      <li (click)="handleClick(result.store_name)" *ngFor="let result of results; let i = index;" routerLink="/search" [queryParams]="{q:result.store_name}" tabindex="1">
        <img src="assets/svg/ico_search_tabs.svg">
        <div>{{result.store_name}}</div>
      </li>
      <li *ngIf="results && results.length === 0" tabindex="1">
        <img src="assets/svg/ico_search_tabs.svg">
        <div>No results</div>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="!searchTerm">
    <div class="list-title"> Recent searches </div>
    <ul style="list-style-type: none;cursor: pointer; margin: 0;padding: 0;">
      <li *ngFor="let item of history; let i = index;" (click)="selectedItem.emit(item)" routerLink="/search" [queryParams]="{q:item}" tabindex="1">
        <img src="assets/svg/ico_search_tabs.svg">
        <div class="paragraph text-capitalize"> {{item}} </div>
      </li>
    </ul>
  </ng-container>


</div>
