<div class="store-list-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-xl-4" *ngFor="let store of stores" style="margin-bottom: 30px;">
                <app-store-card [store]="store"></app-store-card>
            </div>
            <br><br>
        </div>
        <div *ngIf="pagination.isLoading">Loading....</div>
        <div *ngIf="!pagination.hasEnded" infiniteScroll #infiniteScroll="infiniteScroll" (scrolled)="handleScrolled()"></div>
    </div>
</div>
