<div class="margins-center bx-shdw">
    <div class="error-mez" *ngIf="errorMsg">{{errorMsg}}</div>
    <form [formGroup]="passwordForm" (ngSubmit)="savePassword()">
        <h3 class="std-heading-4 text-center"> Enter new password </h3>
        <div class="form-group" style="margin-top:24px;margin-bottom:24px;">
            <div class="label-inputs"> Password </div>
            <app-password [showHint]="false">
                <input passwordInput type="password" class="form-input error-highlight custom-padd"
                    placeholder="Password" formControlName="password">
            </app-password>
            <div class="error-mez" *ngIf="passwordForm.controls.password.invalid && passwordForm.controls.password.touched">
                {{getpasswordError()}}
            </div>
        </div>
        <button type="submit" class="std-button std-button--blue">{{loading?
            'Submitting...':'Next'}}</button>
    </form>
</div>
