<div class="forgotten-password-body">
    <div class="row">
        <div class="col-md-12">
            <div class="error-mez" *ngIf="errorMsg">{{errorMsg}}</div>
            <form [formGroup]="passwordForm" (ngSubmit)="savePassword()">
                <h3 class="std-heading-4 text-center"> Enter new password </h3>
                <div class="form-group form-group--margin" style="margin-top:24px;">
                    <input formControlName="password" type="password" class="form-input error-highlight" placeholder="Password">
                    <div class="error-mez" *ngIf="passwordForm.controls.password.invalid && passwordForm.controls.password.touched">
                        {{getpasswordError()}}
                    </div>
                </div>
                <button type="submit" class="std-button std-button--blue">{{loading?
                    'Submitting...':'Next'}}</button>
            </form>
        </div>
    </div>
</div>
