<div class="error-mez" *ngIf="errorMsg">{{errorMsg}}</div>
<form [formGroup]="passwordForm" (ngSubmit)="savePassword()">
    <input formControlName="password" type="password" class="form-input error-highlight" placeholder="Password">
    <div class="error-mez" *ngIf="passwordForm.controls.password.invalid && passwordForm.controls.password.touched">
        {{getpasswordError()}}</div>
    <button type="submit" class="std-button std-button--blue">{{loading?
        'Submitting...':'Next'}}</button>
</form>