<ng-container *ngIf="nextAvailability; else defaultMsg">
    Closed - Opens 
    <!-- {{formatTime(nextAvailability.startTime)}} -->
    <!-- <span style="text-transform: capitalize;"> 
        {{ nextAvailability.day }}
    </span> -->
    <span [ngSwitch]="dayDiff" class="text-capitalize">
        <ng-container *ngSwitchCase="0">
            today {{formatTime(nextAvailability.startTime)}}
        </ng-container>
        <ng-container *ngSwitchCase="1">
            tomorrow
        </ng-container>
        <ng-container *ngSwitchDefault>
            <span style="text-transform: capitalize;"> 
                {{nextAvailability.day}}
            </span>
        </ng-container>
    </span>
    
</ng-container>


<ng-template #defaultMsg>
    <span>Opening hours not availabile</span>
</ng-template>