<ng-container *ngIf="nextAvailability; else defaultMsg">
    Opens 
    <span [ngSwitch]="dayDiff">
        <ng-container *ngSwitchCase="0">
            today
        </ng-container>
        <ng-container *ngSwitchCase="1">
            tomorrow
        </ng-container>
        <ng-container *ngSwitchDefault>
            {{nextAvailability.day}}
        </ng-container>
    </span>
    {{nextAvailability.startTime}}
</ng-container>



<ng-template #defaultMsg>
    <span>Opening hours not availabile</span>
</ng-template>