<ng-container *ngIf="nextAvailability; else defaultMsg">
    Closed - Opens {{nextAvailability.startTime}}
    <span [ngSwitch]="dayDiff">
        <ng-container *ngSwitchCase="0">
            today
        </ng-container>
        <ng-container *ngSwitchCase="1">
            tomorrow
        </ng-container>
        <ng-container *ngSwitchDefault>
            <span style="text-transform: capitalize;"> 
                {{nextAvailability.day | slice:0:3}}
            </span>
        </ng-container>
    </span>
    
</ng-container>


<ng-template #defaultMsg>
    <span>Opening hours not availabile</span>
</ng-template>