.cuisine-list-images {
  background: var(--color-background); 
  & .order-overflow {
    display:flex;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-x:auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
    & .slider-images {
      padding:8px 8px 0 8px;
      float: left;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      margin-right:16px;
      cursor: pointer;
      & .name-cuisine {
        margin-top: 8px;
        color:var(--color-primary);
        text-align:center;
      } 
      &:hover {
        .inactive-cuisine {
          display:none;
        }
        .active-cuisine {
          display: block;
          width:48px;
          height:48px;
        }
        .name-cuisine {
          color: #F50057;
        }
      }
    } 
  }
}
.slider-images img{
  margin:0 auto;
}
.slide-pddr-left {
  padding-right: 0 !important;
  margin-right:0 !important;
}
.slide-pddr-right {
  padding-left: 0 !important;
}
.inactive-cuisine {
  display:block;
  width:48px;
  height:48px;
}
.active-cuisine {
  width:48px;
  height:48px;
  display:none;
}
.mt-sm {
  background: var(--color-background);
  cursor: pointer;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .mt-sm{
    display:none;
  }
  .cuisine-list-images {
    padding:8px 0px 24px 0;
  }
  .order-overflow::-webkit-scrollbar {
    display: block;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .mt-sm{
    display:none;
  }
  .cuisine-list-images {
    padding:8px 0px 24px 0;
  }
  .order-overflow::-webkit-scrollbar {
    display: block;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .cuisine-list-images {
    padding:8px 0px 24px 0;
  }
  .order-overflow::-webkit-scrollbar {
    display: block;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .cuisine-list-images {
    padding:8px 16px 16px 16px;
  }
  .order-overflow::-webkit-scrollbar {
    display: none;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cuisine-list-images {
    padding:8px 16px 16px 16px;
  }
  .order-overflow::-webkit-scrollbar {
    display: none;
  }
}