<!-- <ul class="list-cusines" #widgetsContent>
    <li class="all-food-cusines" >
        <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        <img class="hover" src="assets/catsvg/AllFoods_clicked.svg" alt="All foods" />
        <p class="cuisine-name" > All foods </p>
    </li>
    <li class="all-food-cusines" >
        <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        <img class="hover" src="assets/catsvg/AllFoods_clicked.svg" alt="All foods" />
        <p class="cuisine-name" > All foods </p>
    </li>
    <li class="all-food-cusines" >
        <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        <img class="hover" src="assets/catsvg/AllFoods_clicked.svg" alt="All foods" />
        <p class="cuisine-name" > All foods </p>
    </li>
    <li class="all-food-cusines" >
        <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        <img class="hover" src="assets/catsvg/AllFoods_clicked.svg" alt="All foods" />
        <p class="cuisine-name" > All foods </p>
    </li>
    <li class="all-food-cusines" >
        <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        <img class="hover" src="assets/catsvg/AllFoods_clicked.svg" alt="All foods" />
        <p class="cuisine-name" > All foods </p>
    </li>
    <li class="all-food-cusines" >
        <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        <img class="hover" src="assets/catsvg/AllFoods_clicked.svg" alt="All foods" />
        <p class="cuisine-name" > All foods </p>
    </li>
    <li class="all-food-cusines" >
        <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        <img class="hover" src="assets/catsvg/AllFoods_clicked.svg" alt="All foods" />
        <p class="cuisine-name" > All foods </p>
    </li>
    <li class="all-food-cusines" >
        <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        <img class="hover" src="assets/catsvg/AllFoods_clicked.svg" alt="All foods" />
        <p class="cuisine-name" > All foods </p>
    </li>
    <li class="all-food-cusines" >
        <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        <img class="hover" src="assets/catsvg/AllFoods_clicked.svg" alt="All foods" />
        <p class="cuisine-name" > All foods </p>
    </li>
    <li class="all-food-cusines" >
        <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        <img class="hover" src="assets/catsvg/AllFoods_clicked.svg" alt="All foods" />
        <p class="cuisine-name" > All foods </p>
    </li>
    <img src="assets/svg/ico_arrow_left_blue.svg"   class="backward" (click)="scrollLeft()" />
    <img src="assets/svg/ico_arrow_left_blue.svg" class="forward"  (click)="scrollRight()" />
</ul> -->
<div class="container">
  
<div #widgetsContent class="order-overflow">
    <div class="img-with-text" >
      <div>
        <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
      </div>
      <div >
        <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
      </div>
      <p> 1 All foods</p>
    </div>
    <div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>2All foods</p>
      </div>
      <div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p> 3 All foods</p>
      </div>
      <div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p> 4 All foods</p>
      </div>
      <div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p> 5 All foods</p>
      </div>
      <div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p> 6 All foods</p>
      </div>
      <div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p> 7 All foods</p>
      </div>
      <div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>8All foods</p>
      </div>
      <div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>9All foods</p>
      </div>
      <div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>10All foods</p>
      </div>

      <div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>11All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>12All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>13All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>14All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>15All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>16All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>All foods</p>
      </div><div class="img-with-text" >
        <div>
          <img class="default" src="assets/catsvg/AllFoods_unclicked.svg" alt="All foods" />
        </div>
        <div >
          <img class="hover" src="assets/catsvg/AllFoods_unclicked.svg" alt="All " />
        </div>
        <p>All foods</p>
      </div>


  <img src="assets/svg/ico_arrow_left_blue.svg"   class="backward" (click)="scrollLeft()" />
  <img src="assets/svg/ico_arrow_left_blue.svg" class="forward"  (click)="scrollRight()" />


  </div> </div>