<div class="pull-left mt-sm hidden" (click)="scrollLeft()" *ngIf="leftActive">
  <img src="assets/svg/left_arrow.svg">
</div>
<div class="cuisine-list-images">
  <div #widgetsContent class="order-overflow">
    <div #left class="slider-images slide-pddr-left" data-side="left"></div>
    <div class="slider-images" *ngFor="let cuisine of cuisines">
      <img loading="lazy" class="inactive-cuisine" [src]="cuisine?.background ? cuisine?.background : 'assets/svg/null_logo.svg'" />
      <img loading="lazy" class="active-cuisine" [src]="cuisine?.hover ? cuisine?.hover: 'assets/svg/null_logo.svg'" />
      <div class="name-cuisine"> {{ cuisine.name}} </div>
    </div>
    <div #right class="slider-images slide-pddr-right" data-side="right"></div>
  </div>
</div>
<div class="pull-right mt-sm" style="margin-top:-104px" (click)="scrollRight()" *ngIf="rightActive">
  <img src="assets/svg/right_arrow.svg">
</div>