<div class="security-card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <img src="assets/images/ico_check_circle.png">
                    <div class="std-heading-4" style="margin-bottom:48px;margin-top: 24px;"> Password updated </div>
                    <button class="std-button std-button--blue" [routerLink]="signInRoute">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>