

<div style="background: #fff;margin-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="signup-panel">
                    <div class="std-heading-3" style="margin-bottom: 30px;">
                        Sign up and get 5% off all food for 30 days
                    </div>
                    <input type="button" class="std-button std-button--primary" value="Sign up now" >
                </div>
            </div>
        </div>
    </div>
</div>

<store-search></store-search>

<section class="table-responsive text-center" style="margin-top:1rem"> 
    <ul class="resnt-menu-top-tabs u-margin-bottom-medium" >
        <li class="resnt-menu-top-tabs__item">
            <button class="resnt-menu-top-tabs__button tabs-menu" 
           > Nearby </button>
        </li>
        <li class="resnt-menu-top-tabs__item">
            <button class="resnt-menu-top-tabs__button tabs-menu" routerLink=""
                > Reviews </button>
        </li>
        <li class="resnt-menu-top-tabs__item">
            <button class="resnt-menu-top-tabs__button tabs-menu" routerLink=""
                > Likes
            </button>
        </li>
    </ul>
</section>
<router-outlet></router-outlet>
