.payment-body{
    padding:0px 16px;
   
    hr{
        margin-left:17%;
    }
   .method-width{
        width:200px
   }
}
.mr-16{
    margin-right:16px;
}
.cursor-nodrop{
    cursor:no-drop;
}
.cursor-pointer{
    cursor:pointer;
}