.icon-style{
    vertical-align: middle;
    font-size: 4px;
    line-height: 20px;
    color: #808080;
    padding: 0px 6px 0px 2px;
}
.mb-80{
    margin-bottom:100px
}
.pb-40{
    padding-bottom:40px;
}
.load-more{
    color: #353FA8;
    padding:10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    cursor:pointer;
}