<ng-template appNavbarHeadingContent>
    <div class="title-content profile-save-text" style="cursor: text;"> History </div>
</ng-template>
<div class="security-card">
    <div class="order-body">
        <h4 class="f-20 f-b text-capitalize">The lamb shop spring hill</h4>
        <u class="f-14-blue mct-16">View store</u>
        <u class="f-14-blue mct-16 ml-16">View receipt</u>
        <h4 class="f-14 f-b mct-16">Order number #63456</h4>
        <label class="f-16 mct-4">2 items
            <i class="fa fa-circle icon-style" aria-hidden="true"></i>
            6:45pm 12 Nov 2020
        </label>
        <!--
            Ordered Items
        -->
        <div class="cart-items mt-48">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <label class="f-16 f-b pr-4">1x</label>
                    <div class="f-16 f-b pr-2">
                        <label class="f-16 f-b item-name text-capitalize">Lamb Sauvlaki</label>
                    </div>
                </div>
                <div>
                    <label class="f-14 mr-15">$15.99</label>
                </div>
            </div>
            <div class="cart-item-modifiers">
                <span>Small </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span>Large </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span>Small </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span>Large </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span>Small </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span>Large </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
            </div>
        </div>
        <hr>
        <div class="cart-items">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <label class="f-16 f-b pr-4">1x</label>
                    <div class="f-16 f-b pr-2">
                        <label class="f-16 f-b item-name text-capitalize">Lamb Sauvlaki</label>
                    </div>
                </div>
                <div>
                    <label class="f-14 mr-15">$15.99</label>
                </div>
            </div>
            <div class="cart-item-modifiers">
                <span>Small </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span>Large </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span>Small </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span>Large </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span>Small </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span>Large </span>
                <i class="fa fa-circle" aria-hidden="true"></i>
            </div>
        </div>
        <hr>
        <!--
        Surcharge
        -->
        <div class="order-surcharge">
            <div class="d-flex justify-content-between">
                <label class="f-16-blur">Surcharge</label>
                <label class="f-14 f-b">$1.77</label>
            </div>
        </div>
        <hr>
        <!--
        Sub Total
        -->
        <div class="order-surcharge">
            <div class="d-flex justify-content-between">
                <label class="f-16-blur">Sub total</label>
                <label class="f-14 f-b">$19.55</label>
            </div>
        </div>
        <hr>
        <!--
        Amount Due
        -->
        <div class="order-surcharge">
            <div class="d-flex justify-content-between">
                <label class="f-16 f-b">Total</label>
                <label class="f-24 f-b">$19.51</label>
            </div>
        </div>
    </div>
</div>

<button (click)="loadNext()">Load more</button>

<div>{{ordData | json}}</div>
       