<!-- <div *ngIf="backendErrorMsg" class="text-center">{{backendErrorMsg}}</div>
<form *ngIf="!emailSentMsg; else sentTemplate" [formGroup]="form" (ngSubmit)="submit()">
    <div class="card-center">
        <div class="row">
            <div class="col-md-12">
                <h3> Forgotten your password? </h3>
                <br>
                <p>Enter your email address and we will send you a link to reset your password.</p>
                <div class="form-group form-group--margin">
                    <div class="label-inputs"> Email </div>
                    <input type="text" class="form-input error-highlight" placeholder="e.g. name@gmail.com" formControlName="email">
                    <div *ngIf="f.email.touched && f.email.errors " class="error-mez">
                        <div> {{getErrors('email')}} </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:1px;">
                    <button type="submit" class="std-button std-button--blue" [disabled]="sending">
                        <span *ngIf="!sending; else loading">Send</span>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <p class="text-center"><a routerLink="/auth/signup" style="color:#353FA8;text-decoration: none;font-weight:bold"> Signup </a></p>
    </div>

</form>
<ng-template #sentTemplate>
    <p class="text-center">{{emailSentMsg}}</p>
</ng-template>
<ng-template #loading>
    Sending...
</ng-template> -->

<!-- New design -->
<div class="forgotten-password-body">
    <h3 class="std-heading-4 text-center"> Verify email address </h3>
    <div class="paragraph14 text-center">
        You must verify your email address first
    </div>
    <div class="form-group form-group--margin" style="margin-top:24px;">
        <input formControlName="" type="text" class="form-input error-highlight" placeholder="Email">
        <!-- <ng-container *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
            <div class="error-mez">{{returnErrors('email')}}</div>
        </ng-container> -->
    </div>
    <div class="row">
        <div class="col-md-6 pad-ing-right" style="margin-bottom: 24px;">
            <input type="text" class="form-input error-highlight" placeholder="Enter code" formControlName="">
            <!-- <div *ngIf="controls.code.touched && controls.code.errors" class="error-mez">
                <div> {{getErrors('code')}} </div>
            </div> -->
        </div>
        <div class="col-md-6 pad-ing-left" style="margin-bottom: 24px;">
            <!-- <send-code (click)="controls.identity.markAsTouched()"
                [data]="{type: inputType, identity: controls.identity.valid? controls.identity.value : ''}"
                (error)="errorMessage = $event">
            </send-code> -->
            <input type="button" value="Send" class="btn std-button std-button--blue">
        </div>
    </div>
    <div class="paragraph14 text-center" style="margin-bottom: 24px;color:#353FA8;font-weight: bold;">
        Use mobile
    </div>
    <input type="button" value="Next" class="btn std-button std-button--blue">
</div>