<div *ngIf="backendErrorMsg">{{backendErrorMsg}}</div>
<form *ngIf="!emailSentMsg; else sentTemplate" [formGroup]="form" (ngSubmit)="submit()">
    <input type="text" formControlName="email">
    <div *ngIf="form.touched && form.invalid">{{returnErrors()}}</div>
    <button [disabled]="sending" type="submit"><span *ngIf="loading; else loading">Send</span></button>
</form>

<ng-template #sentTemplate>
    <div>{{emailSentMsg}}</div>
</ng-template>

<ng-template #loading>
    Sending..
</ng-template>