<!-- <div *ngIf="backendErrorMsg">{{backendErrorMsg}}</div>
<form *ngIf="!emailSentMsg; else sentTemplate" [formGroup]="form" (ngSubmit)="submit()">
    <input type="text" formControlName="email">
    <div *ngIf="form.touched && form.invalid">{{returnErrors()}}</div>
    <button [disabled]="sending" type="submit"><span *ngIf="!sending; else sendingTemplate">Send</span></button>
</form>

<ng-template #sentTemplate>
    <div>{{emailSentMsg}}</div>
</ng-template>

<ng-template #sendingTemplate>
    Sending..
</ng-template> -->

<nav class="navbar-simple">
    <img src="assets/svg/Logo_w.svg" routerLink="/" style="text-decoration: none;cursor: pointer;">
</nav>
<div *ngIf="backendErrorMsg">{{backendErrorMsg}}</div>
<form *ngIf="!emailSentMsg; else sentTemplate" [formGroup]="form" (ngSubmit)="submit()">
    <div class="card-center" >
        <div class="row">
            <div class="col-md-12">
                <h3> Forgotten your password? </h3>
                <br>
                <p>Enter your email address and we will send you a link to reset your password.</p>
                <div class="form-group form-group--margin">
                    <div class="label-inputs"> Email </div>
                    <input type="text" class="form-input error-highlight" placeholder="e.g. name@gmail.com" formControlName="email">
                    <div *ngIf="f.email.touched && f.email.errors " class="error-mez">
                        <div> {{getErrors('email')}} </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:1px;">
                    <button type="submit" class="std-button std-button--blue" [disabled]="sending">
                        <span *ngIf="!sending; else loading">Send</span>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <p class="text-center"><a routerLink="/signup" style="color:#353FA8;text-decoration: none;font-weight:bold"> Signup </a></p>
    </div>

</form>
<ng-template #sentTemplate>
    <p class="text-center">{{emailSentMsg}}</p>
</ng-template>

<ng-template #loading>
    Sending...
</ng-template>