<div class="password-container">
    <ng-content></ng-content>
    <img (click)="inputHtmlElement.type=inputHtmlElement.type=='password'?'text':'password'" 
            class="field-icon"
            [src]="(inputHtmlElement.type=='password')?'assets/images/profile/ico_show.png':'assets/images/profile/ico_hide.png'" 
            [title]="(inputHtmlElement.type=='password')?'Show password':'Hide password'" >
    <div class="pswd_info" *ngIf="showPasswordHelp">
        <div class="popup-header"> Password must contain: </div>
        <ul class="list-type">
            <li [ngClass]="validateLength() ? 'valid': 'invalid'" class="sub-content"> &nbsp; 8 characters </li>
            <li [ngClass]="validateLowerCase() ? 'valid': 'invalid'" class="sub-content"> &nbsp; Lowercase letter </li>
            <li [ngClass]="validateUpperCase() ? 'valid': 'invalid'" class="sub-content"> &nbsp; Uppercase letter </li>
            <li [ngClass]="validateDigit() ? 'valid': 'invalid'" class="sub-content"> &nbsp; Digit </li>
            <li [ngClass]="ValidateSpecialChar() ? 'valid': 'invalid'" class="sub-content"> &nbsp; Special character </li>
        </ul>
        <p class="pwd-description"> Strong passwords are longer, avoid words or sequences,
            and mix random letters, numbers and symbols.
        </p>
    </div>
</div>