<nav class="navbar-simple">
    <img src="assets/svg/Logo_w.svg" routerLink="/" style="text-decoration: none;cursor: pointer;outline:none">
</nav>
<div class="container" style="display:none">
    <div class="row">
        <div *ngIf="submissionError" class="col-md-12">{{submissionError}}</div>
        <div class="col-md-12">
            <div *ngIf="!submissionComplete" class="margins-center" style="margin-top:40px">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="margins-center">
                                <h1 class="signup-header" > Create your free account </h1>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group--margin">
                                <div class="label-inputs"> First name <b class="m-star">*</b> </div>
                                <input type="text" class="form-input error-highlight" placeholder="e.g. John"
                                    formControlName="firstName">
                                <div *ngIf="f.firstName.touched && f.firstName.errors " class="error-mez">
                                    <div>First name is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group--margin">
                                <div class="label-inputs"> Last name <b class="m-star">*</b> </div>
                                <input type="text" class="form-input error-highlight" placeholder="e.g. Cena"
                                    formControlName="lastName">
                                <div *ngIf="f.lastName.touched && f.lastName.errors" class="error-mez">
                                    <div>Last name is required.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group--margin">
                                <div class="label-inputs"> Email <b class="m-star">*</b> </div>
                                <input type="text" class="form-input error-highlight" placeholder="e.g. name@gmail.com"
                                    formControlName="customerEmail">
                                <div *ngIf="f.customerEmail.touched && f.customerEmail.errors " class="error-mez">
                                    <div> {{getErrors('customerEmail')}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group--margin">
                                <div class="label-inputs"> Mobile <b class="m-star">*</b> </div>
                                <input class="form-input error-highlight" placeholder="e.g. 0412345678" formControlName="signupmobile"
                                    minlength="10" maxlength="10">
                                <div *ngIf="f.signupmobile.touched && f.signupmobile.errors" class="error-mez">
                                    <div> {{getErrors('signupmobile')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group--margin">
                                <div class="label-inputs"> Password <b class="m-star">*</b> </div>
                                <app-password [showHint]="true">
                                    <input passwordInput type="password" id="password"
                                        class="form-input error-highlight" formControlName="password"
                                        placeholder="Must be at least 8 characters">
                                </app-password>
                                <!-- <span toggle="#password" class="fa fa-eye-slash field-icon toggle-password"></span> -->
                                <div *ngIf="f.password.touched && f.password.errors" class="error-mez">
                                    <div>
                                        {{getErrors('password')}}
                                    </div>
                                </div>
                                <!-- <div id="pswd_info">
                                    <div class="popup-header"> Password must contain: </div>
                                    <ul class="list-type">
                                        <li id="length" class="invalid sub-content"> &nbsp; 8 characters </li>
                                        <li id="small" class="invalid sub-content"> &nbsp; Lowercase letter </li>
                                        <li id="capital" class="invalid sub-content"> &nbsp; Uppercase letter </li>
                                    </ul>
                                    <p class="pwd-description"> Strong passwords are longer, avoid words or sequences,
                                        and mix random letters, numbers and symbols.
                                    </p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" style="margin-top:10px;">
                                <button [disabled]="submitting" type="submit" class="std-button std-button--blue">
                                    <span *ngIf="!submitting; else subTemp">Sign up</span> </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p class="text-center" style="font-weight:bold"> Already have an account? <a routerLink="/auth/signin" style="color:#353FA8;text-decoration: none;"> Login </a></p>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #regComplete>
    Welcome!
    Your registration is complete.
</ng-template>

<ng-template #subTemp>
    Submitting...
</ng-template>



<!-- new design -->
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-12">
            <div class="margins-center text-center">
                <!-- first sinup page -->
                <div >
                    <h3 class="std-heading-4"> Sign up </h3>
                    <div class="paragraph14" style="margin-bottom: 24px;">
                        Sign up and get 5% off all food for 30 days
                    </div>
                    <button class="std-button std-button--transparency1" style="margin-bottom: 16px;">
                        <img src="assets/images/ico_account_btn.png" >&nbsp; Use mobile / email
                    </button>
                    <img src="assets/images/divider_or.png" style="margin-bottom: 16px;width:100%">
                    <button class="std-button std-button--transparency1" style="margin-bottom: 16px;color:#1a1a1a;">
                        <img src="assets/images/google.png" >&nbsp; Continue with Google
                    </button>
                    <button class="std-button std-button--facebook" style="margin-bottom: 16px;">
                        <img src="assets/images/ico_facebook.png" >&nbsp; Continue with Facebook
                    </button>
                    <button class="std-button std-button--apple" style="margin-bottom: 24px;">
                        <img src="assets/images/ico_apple.png" >&nbsp; Continue with Apple
                    </button>
                    <div class="paragraph14" style="margin-bottom: 24px;">
                        Already have an account?<b style="color:#353FA8;cursor: pointer;" routerLink="/auth/signin"> Log in</b> 
                    </div>
                </div>
                <!-- first signup page end -->

                <!-- second signup page -->
                <div style="display: none;">
                    <h3 class="std-heading-4"> Sign up with mobile </h3>
                    <div class="paragraph14" style="margin-bottom: 24px;">
                        We’ll send a verification code to your number
                    </div>
                    <div class="form-group form-group--margin">
                        <div class="label-inputs"> <span class="float-left"> Mobile </span><span class="float-right" style="color: #353FA8;;cursor: pointer;"> Use email </span>  </div>
                        <input type="text" class="form-input error-highlight" placeholder="e.g. name@gmail.com"
                            formControlName="">
                    </div>
                    <div class="form-group form-group--margin">
                        <div class="label-inputs"> <span class="float-left"> Password </span></div>
                        <input type="text" class="form-input error-highlight" placeholder="Password"
                            formControlName="">
                    </div>
                    <div class="row">
                        <div class="col-md-6 pad-ing-right" style="margin-bottom: 24px;">
                            <input type="text" class="form-input error-highlight" placeholder="Enter code"
                            formControlName="">
                        </div>
                        <div class="col-md-6 pad-ing-left" style="margin-bottom: 24px;">
                            <input type="button" class="btn std-button std-button--blue" value="Send code" >
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 24px;">
                        <input type="button" class="btn std-button std-button--blue" value="Next" >
                    </div>
                    <div class="paragraph14 paragraph14__f12">
                        By creating a menuzapp account you're agreeing to our <b style="color:#353FA8;cursor: pointer;"> Privacy Policy </b> and <b style="color:#353FA8;cursor: pointer;"> Terms of Service </b> 
                    </div>
                </div>
                <!-- end second signup page -->


                <!-- profile page -->
                <div style="display: none;">
                    <h3 class="std-heading-4"> Complete your profile </h3>
                    <div class="paragraph14" style="margin-bottom: 24px;">
                        Add a photo so restaurant staff can recognise you
                    </div>
                    <div class="profile-image-signup" style="margin-bottom: 16px;">
                        <!-- default image -->
                        <img src="assets/images/add_image.png" >
                        <!-- default image end -->
                        <!-- uplaod image -->
                        <img class="upload-image" src="assets/images/empty_store_image.png" style="display: none;">
                        <!-- uplaod image end  -->
                    </div>
                    <div class="row">
                        <div class="col-md-6 pad-ing-right" style="margin-bottom: 24px;">
                            <div class="label-inputs"> <span class="float-left"> First name </span></div>
                            <input type="text" class="form-input error-highlight" placeholder="First name"
                            formControlName="">
                        </div>
                        <div class="col-md-6 pad-ing-left" style="margin-bottom: 24px;">
                            <div class="label-inputs"> <span class="float-left"> Last name </span></div>
                            <input type="text" class="form-input error-highlight" placeholder="Last name"
                            formControlName="">
                        </div>
                    </div>
                    <div class="form-group" >
                        <input type="button" class="btn std-button std-button--blue" value="Continue" >
                    </div>
                </div>
                <!-- profile page end -->

            </div>
        </div>
    </div>
</div>
<!-- end new design -->