/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "./styles/colors";
@import "./styles/base";
@import "./styles/main";
@import "./styles/cards";
@import '~@angular/cdk/overlay-prebuilt.css';
.modal-content {
    border: 0 !important;
    border-radius: 0 !important;
    top: 25px !important;
}