<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="margin-top:100px">
                <div class="margins-center">
                    <h1 class="signup-header"> Create your free account </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="submissionError" class="col-md-12">{{submissionError}}</div>
        <div class="col-md-12">
            <div *ngIf="!submissionComplete; else regComplete" class="margins-center" style="margin-top:40px">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group--margin">
                                <div class="label-inputs"> First name <b class="m-star">*</b> </div>
                                <input type="text" class="form-input error-highlight" placeholder="e.g. John"
                                    formControlName="firstName">
                                <div *ngIf="f.firstName.touched && f.firstName.errors " class="error-mez">
                                    <div>First name is required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group--margin">
                                <div class="label-inputs"> Last name <b class="m-star">*</b> </div>
                                <input type="text" class="form-input" placeholder="e.g. Cena"
                                    formControlName="lastName">
                                <div *ngIf="f.lastName.touched && f.lastName.errors" class="error-mez">
                                    <div>Last name is required.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group--margin">
                                <div class="label-inputs"> Email <b class="m-star">*</b> </div>
                                <input type="text" class="form-input" placeholder="e.g. name@gmail.com"
                                    formControlName="customerEmail">
                                <div *ngIf="f.customerEmail.touched && f.customerEmail.errors " class="error-mez">
                                    <div> {{getErrors('customerEmail')}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group--margin">
                                <div class="label-inputs"> Mobile <b class="m-star">*</b> </div>
                                <input class="form-input" placeholder="e.g. 0412345678" formControlName="signupmobile"
                                    minlength="10" maxlength="10">
                                <div *ngIf="f.signupmobile.touched && f.signupmobile.errors" class="error-mez">
                                    <div> {{getErrors('signupmobile')}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group--margin">
                                <div class="label-inputs"> Password <b class="m-star">*</b> </div>
                                <app-password [showHint]="true">
                                    <input passwordInput type="password" id="password"
                                        class="form-input custom-password-eye" formControlName="password"
                                        placeholder="Must be at least 8 characters">
                                </app-password>
                                <span toggle="#password" class="fa fa-eye-slash field-icon toggle-password"></span>
                                <div *ngIf="f.password.touched && f.password.errors" class="error-mez">
                                    <div>
                                        {{getErrors('password')}}
                                    </div>
                                </div>
                                <!-- <div id="pswd_info">
                                    <div class="popup-header"> Password must contain: </div>
                                    <ul class="list-type">
                                        <li id="length" class="invalid sub-content"> &nbsp; 8 characters </li>
                                        <li id="small" class="invalid sub-content"> &nbsp; Lowercase letter </li>
                                        <li id="capital" class="invalid sub-content"> &nbsp; Uppercase letter </li>
                                    </ul>
                                    <p class="pwd-description"> Strong passwords are longer, avoid words or sequences,
                                        and mix random letters, numbers and symbols.
                                    </p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" style="margin-top:10px;">
                                <button [disabled]="submitting" type="submit" class="std-button std-button--blue">
                                    <span *ngIf="!submitting; else subTemp">Sign up</span> </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #regComplete>
    Welcome!
    Your registration is complete.
</ng-template>

<ng-template #subTemp>
    Submitting...
</ng-template>