<div *ngIf="resetErrorMessage">{{resetErrorMessage}}</div>

<form *ngIf="!resetSuccessMessage; else successTemplate" [formGroup]="form" (ngSubmit)="submit()">
    <label>Password</label>
    <input type="password" formControlName="password">
    <div *ngIf="form.controls.password.invalid && form.controls.password.touched">{{getErrors('password')}}</div>
    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword">
    <div *ngIf="form.controls.confirmPassword.invalid && form.controls.confirmPassword.touched">
        {{getErrors('confirmPassword')}}</div>
    <button [disabled]="resetting" type="submit"><span *ngIf="!resetting; else resettingTemplate">Reset</span>
    </button>
</form>

<ng-template #successTemplate>
    {{resetSuccessMessage}}
</ng-template>

<ng-template #resettingTemplate>
    <span>Resetting...</span> 
</ng-template>