<!-- <div class="container">
    <div class="row">
        <div class="col-md-12" *ngIf="resetErrorMessage">{{resetErrorMessage}}</div>
        <div class="col-md-12">
            <form *ngIf="!resetSuccessMessage" [formGroup]="form" (ngSubmit)="submit()">
                <div class="signin-card">
                    <h3 class="std-heading-3 text-center"> Reset password </h3><br>
                    <div class="form-group form-group--margin">
                        <input type="password" formControlName="password" class="form-input error-highlight" placeholder="Password">
                        <ng-container *ngIf="form.controls.password.invalid && form.controls.password.touched">
                            <div class="error-mez" >{{getErrors('password')}}.</div>
                        </ng-container>
                    </div>
                    <div class="form-group form-group--margin">
                        <input type="password" formControlName="confirmPassword" class="form-input error-highlight" placeholder="Confirm password">
                        <ng-container *ngIf="form.controls.confirmPassword.invalid && form.controls.confirmPassword.touched">
                            <div class="error-mez" >{{getErrors('confirmPassword')}}.</div>
                        </ng-container>
                    </div>
                    <div class="form-group" style="margin-top:10px;">
                        <button [disabled]="resetting" type="submit" class="std-button std-button--blue"><span
                                *ngIf="!resetting; else resettingTemplate">Reset</span> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-template #resettingTemplate>
    <span>Resetting...</span> 
</ng-template> -->

<!-- New design -->
<div class="forgotten-password-body">
    <h3 class="std-heading-4 text-center"> Enter new password </h3>

    <div class="form-group form-group--margin" style="margin-top:24px;">
        <div class="label-inputs"> <span class="float-left"> Password </span></div>
        <input formControlName="" type="text" class="form-input error-highlight" placeholder="password">
        <!-- <ng-container *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
            <div class="error-mez">{{returnErrors('email')}}</div>
        </ng-container> -->
    </div>
    
    <input type="button" value="Next" class="btn std-button std-button--blue">
</div>