<div class="edit-profile-page">
    <div class="profile-navbar">
        <div class="container">
            <img src="assets/images/ico_arrow_left_white.png" class="arrow-back"  routerLink="/profile/security" >
            <label class="text-heder" *ngIf="ischangeE" >
                Change email 
            </label>
            <label class="text-heder" *ngIf="isaddE">
                Add email
            </label>
            <label class="text-heder" *ngIf="ischangeM" >
                Change mobile
            </label>
            <label class="text-heder" *ngIf="isaddM">
                Add mobile
            </label>
            <div class="center-logo-profile only-big" routerLink="/">
                <img src="assets/svg/logo_white.svg">
            </div>
        </div>
    </div>
    <div class="security-card-pwd">
        <!-- <div class="container-fluid"> -->
            <h3 class="std-heading-4 text-center"> Enter current password </h3>
            <div class="text-center paragraph14" style="margin-bottom: 24px;">
                You must enter your current password first
            </div>
            <form class="row" [formGroup]="passwordForm" (ngSubmit)="confirmPassword()">
                <div class="col-md-12 error-mez" *ngIf="errorRespMsg">
                    {{errorRespMsg}}
                </div>
                <div class="col-md-12">
                    <div class="label-inputs"> Password </div>
                    <app-password>
                        <input type="password" class="form-input error-highlight" passwordInput placeholder="Password"
                            formControlName="password">
                    </app-password>
                    <div class="error-mez"
                        *ngIf="passwordForm.controls.password.invalid && passwordForm.controls.password.touched">
                        Current password required.
                    </div>
                </div>
                <!-- <div class="col-md-12">
                    <div class="std-heading-5 forgot"> Forgot password </div>
                </div> -->
                <div class="col-md-12" style="margin-top:24px;">
                    <button type="submit" class="std-button std-button--blue">
                        <p *ngIf="!loading; else loadingTemp" style="margin:0"> Next </p>
                        <ng-template #loadingTemp>
                            <img src="assets/images/loader_white_24.gif" alt="" style="height: 24px;">
                        </ng-template>
                    </button>
                </div>
            </form>
        </div>
    <!-- </div> -->
</div>