<div class="payment">
    <div class="payment-header" (click)="goBack()">
        <img class="cursor-pointer" src="assets/images/cart/ico_arrow_left.svg" />
        <label class="f-16 f-b ml-16">Payment</label>
    </div>
    <hr>
    <div class="payment-body">
        <label class="f-20 f-b">Add payment method</label>
        <div class="mt-28">
            <ul>
                <li class="d-flex justify-content-between">
                    <img src="assets/images/cart/applepay.svg" />
                    <label class="f-16 mt-1" style="width:200px">Set up Apple Pay</label>
                    <img class="mt-1" src="assets/images/cart/chevron.svg" />
                </li>
                <hr>
                <li class="d-flex justify-content-between">
                    <img src="assets/images/cart/googlepay.svg" />
                    <label class="f-16 mt-1" style="width:200px">Set up Google Pay</label>
                    <img class="mt-1" src="assets/images/cart/chevron.svg" />
                </li>
                <hr>
                <li class="d-flex justify-content-between">
                    <img src="assets/images/cart/creditcard.svg" />
                    <label class="f-16 mt-1" style="width:200px">Credit/Debit card</label>
                    <img class="mt-1" src="assets/images/cart/chevron.svg" />
                </li>
                <hr>
                <li class="d-flex justify-content-between">
                    <img src="assets/images/cart/paypal.svg" />
                    <label class="f-16 mt-1" style="width:200px">PayPal</label>
                    <img class="mt-1" src="assets/images/cart/chevron.svg" />
                </li>
                <hr>
            </ul>
        </div>
    </div>
</div>