<ng-template appNavbarHeadingContent>
    <div class="title-content profile-save-text" style="cursor: text;"> Favourites </div>
  </ng-template>
  <div class="text-center" style="margin-top:48px;">
      <ul class="resnt-menu-top-tabs u-margin-bottom-medium" style="margin-bottom:0">
        <li class="resnt-menu-top-tabs__item custom-border" >
          <div class="resnt-menu-top-tabs__button tabs-menu" routerLink="../stores" routerLinkActive="active" #rla="routerLinkActive"  [ngClass]="rla.isActive ? 'resnt-menu-top-tabs__button__active':''" >
            Stores  
          </div>
        </li>
        <li class="resnt-menu-top-tabs__item">
          <div class="resnt-menu-top-tabs__button tabs-menu resnt-menu-top-tabs__button__border" routerLink="../items" routerLinkActive="active" #rlaMeal="routerLinkActive" [ngClass]="rlaMeal.isActive ? 'resnt-menu-top-tabs__button__active':''"> 
              Meals 
          </div>
        </li>
      </ul>
  </div>
  <store-list parentKey="favStores" [type]="type" [filter]="filter" [showItems]="type === 'favItems'" [hideSorter]="true" [displaySingleCol]="type === 'favItems'"></store-list>