<ng-template appNavbarHeadingContent>
    <div class="title-content profile-save-text" style="cursor: text;"> Favourites </div>
  </ng-template>
  <!-- <div class="text-center" style="margin-top:48px;">
          <ul class="resnt-menu-top-tabs u-margin-bottom-medium" style="margin-bottom:0">
            <li class="resnt-menu-top-tabs__item custom-border" >
              <div class="resnt-menu-top-tabs__button tabs-menu resnt-menu-top-tabs__button__active" >
                Stores
              </div>
            </li>
            <li class="resnt-menu-top-tabs__item">
              <div class="resnt-menu-top-tabs__button tabs-menu resnt-menu-top-tabs__button__border" routerLink=""> Meals </div>
            </li>
          </ul>
      </div>
      <ng-container *ngIf="stores">
          <div class="fv-padding-content topspace">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 col-xl-4 spacing" *ngFor="let store of stores">
                          <app-store-card (selected)="storeSelected($event)" [store]=store></app-store-card>
                      </div>
                  </div>
              </div>
              <div class="text-center">
                  <span *ngIf="stores?.length==0" style="text-align: center;"> No favourites </span>
              </div>
              <br><br><br><br><br><br>
          </div>
      </ng-container>
      <div *ngIf="loading" class="container" style="margin-top:48px;">Loading...</div> -->
  <div style="height: 200px;">Dummy</div>
  <a routerLink="../stores">Store</a>
  <a routerLink="../items">Items</a>
  
  <store-list parentKey="favStores" [type]="type" [filter]="filter" [showItems]="type === 'favItems'" [hideSorter]="true"></store-list>