<div class="store-cards store-cards--shadow" [ngStyle]="{'margin-bottom': showItems ? '16px':'0'}">
  <div (click)="select(store.id);" style="cursor:pointer;outline:0;">
    <div class="store-cards store-cards--header">
      <table>
        <tr>
          <td valign="middle">
            <img [src]="store.logo ? store.logo + static_image_width_logo : 'assets/svg/null_logo.svg'" class="profile-image">
          </td>
          <td style="padding-left: 8px;width:100%">
            <table style="margin-bottom: 4px;">
              <tr>
                <td>
                  <div class="store-name">
                    {{ store.name }}
                  </div>
                </td>
              </tr>
            </table>
            <div class="d-flex justify-content-between sub-name">
              <span> {{ store.distance }} </span>
              <present-availability [availability]="store.openingHours"></present-availability>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="well main-form">
      <div [ngStyle]="{'height': showItems ? '202px':'314px'}" class="store-image">
        <img [src]="store.storeImage ? store.storeImage + static_image_width : 'assets/images/Area.png' ">
      </div>
    </div>
    <!-- <div class="content-card" style="display:none">
      <table>
        <tr>
          <td style="padding-right:8px">
            <div class="rating-size">
              <table>
                <tr>
                  <td valign="middle"><img src="assets/svg/cards/ico_social_facebook_small.svg" style="padding-right:4px"></td>
                  <td valign="bottom" class="rating-text">&nbsp;<label class="rK"> {{store.facebookLike}} </label> </td>
                </tr>
              </table>
            </div>
          </td>
          <td align="top">
            <div class="rating-size">
              <table>
                <tr>
                  <td valign="middle"><img src="assets/svg/cards/ico_social_google_small.svg"><img src="assets/svg/cards/ico_star_half_small.svg"></td>
                  <td valign="bottom" class="rating-text">&nbsp;<label class="rK">{{store.googleRating}}</label></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div> -->
  </div>
  <div class="chating-card">
    <div class="d-flex justify-content-between chating-card--chat">
      <span>
        <ul class="chat-icons">
          <li>
            <span class="heart">
              <store-heart [store]="{id: store.id, isFavourite: store.isFavourite, page:'main'}"></store-heart>
            </span>
          </li>
          <li>
            <span class="share">
              <app-share [isIconBlack]="true" [store]="{id: store.id, name: store.name,page:'main'}"></app-share>
            </span>
          </li>
          <li>
            <a [href]="'https://www.google.com/maps/dir/?api=1&destination='+store.latLng.lat+','+store.latLng.lon" target="_blank" style="text-decoration: none;">
              <img src="assets/svg/cards/direction.svg" title="Direction">
            </a>
          </li>
        </ul>
      </span>
      <span>
        <table>
          <tr>
            <td valign="middle" class="rating-text">&nbsp;<label class="rK"><app-google-rating [rating]="store.googleRating"></app-google-rating></label></td>
          </tr>
        </table>
      </span>
    </div>
  </div>
  <div class="search-card-item" *ngIf="showItems">
    <div appExpandable #e="appExpadable" style="transition: max-height .25s;" [collapsedSize]="200">  
      <div class="col-md-12 card small-cat-cards" *ngFor="let i of store.items">
        <div class="row" (click)="select(store.id);" style="cursor: pointer;">
              <div class="col p16" style="height:80px;">
                  <div class="card-block ">
                      <div class="flexbox-container">
                          <div class="wrapper">
                              <div class="paragraph card-content-div">
                                  <p class="item-name"> 
                                    {{ i.name | slice:0:20 }}{{i.name.length > 20 ? '...' : ''}}
                                  </p>
                              </div>
                              <div class="std-heading-5"> 
                                  <span *ngIf="i.price">$</span>{{i.price? showDecimal(i.price) : '$0.00' }}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-auto col-img" style="padding: 0;">
                  <img [src]="i.picture ? i.picture + static_image_width_item : 'assets/svg/details/modifier_null.svg'" class="img-fluid img-custom">
              </div>
          </div>
      </div>
      </div>
      <div class="text-center"> 
        <label *ngIf="store.items.length > 2" (click)="e.toggle()" class="s-more"> 
          {{e.isExpanded ? 'Hide' : 'Show'}} {{store.items.length - 2 }}
          <span *ngIf="!e.isExpanded"> more </span>
        </label>
      </div>
  </div>
</div>
